Repository rodolfodpk/spring-crablet: changes, and which Codecov flags are due for each by the changed paths.
All: EventStore, Command, Outbox, Metrics

docs: remove stale Embabel references from live code and docs
  .claude/skills/crablet-maintainer/SKILL.md
  crablet-codegen/README.md
  crablet-codegen/src/main/java/com/crablet/codegen/llm/package-info.java
  docs/index.html
Due: none

docs: mark Embabel-based codegen plans as superseded
  docs/dev/plans/ai-first-docs-positioning.md
  docs/dev/plans/embabel-codegen-from-event-model.md
  docs/dev/plans/embabel-codegen-provider-abstraction.md
Due: none

feat(hooks): add mvn -pl/-am guard and banned-string guard
  .claude/settings.json
  scripts/hooks/README.md
  scripts/hooks/guard-banned-strings.sh
  scripts/hooks/guard-mvn-pl.sh
Due: none

feat(skills): add crablet-test-authoring and crablet-conventions; capture health assessment
  .claude/skills/crablet-conventions/SKILL.md
  .claude/skills/crablet-test-authoring/SKILL.md
  CLAUDE.md
  docs/dev/PRODUCT_ROADMAP.md
  docs/user/ai-tooling/AI_SKILLS.md
  scripts/hooks/guard-banned-strings.sh
Due: none

docs(plan): add test-support fast/slow split plan and roadmap entry
  docs/dev/PRODUCT_ROADMAP.md
  docs/dev/plans/test-support-fast-slow-split.md
Due: none

docs(plan): rename test-support split modules to crablet-test-* family
  docs/dev/PRODUCT_ROADMAP.md
  docs/dev/plans/test-support-fast-slow-split.md
Due: none

docs(plan): rename test base classes to signal backing
  docs/dev/plans/test-support-fast-slow-split.md
Due: none

refactor(test): extract handler BDD base into crablet-test-commands
  Makefile
  crablet-commands/pom.xml
  crablet-commands/src/test/java/com/crablet/command/handlers/courses/unit/ChangeCourseCapacityCommandHandlerUnitTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/courses/unit/DefineCourseCommandHandlerUnitTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/courses/unit/RegisterStudentCommandHandlerUnitTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/courses/unit/SubscribeStudentToCourseCommandHandlerUnitTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/unit/InMemoryEventStore.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/unit/DepositCommandHandlerUnitTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/unit/OpenWalletCommandHandlerUnitTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/unit/WithdrawCommandHandlerUnitTest.java
  crablet-test-commands/pom.xml
  crablet-test-commands/src/main/java/com/crablet/test/commands/AbstractInMemoryHandlerTest.java
  docs/dev/PRODUCT_ROADMAP.md
  docs/dev/plans/test-support-fast-slow-split.md
Due: none

docs: propagate handler-test-base move to crablet-test-commands
  .claude/skills/crablet-test-authoring/SKILL.md
  CLAUDE.md
  crablet-commands/README.md
  crablet-eventstore/TESTING.md
  crablet-test-commands/README.md
  crablet-test-support/README.md
  docs/dev/ADOPTION_EVALUATION.md
  docs/user/ai-tooling/AI_SKILLS.md
Due: none

fix(ci): install reactor artifacts before codegen-snapshot-verify
  Makefile
Due: none

fix(ci): build the commands test-jar in codegen-snapshot-verify install
  Makefile
Due: none

Consolidate Postgres integration test harnesses
  crablet-automations/src/test/java/com/crablet/automations/integration/AbstractAutomationsIntegrationTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AbstractAutomationsTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationDispatcherIntegrationTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationEventFetcherIntegrationTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationProcessingLoopIntegrationTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationProgressTrackerIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/integration/AbstractEventProcessorIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/integration/AbstractEventProcessorTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/EventProcessorImplIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/LeaderElectorImplIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/ProcessorManagementControllerE2ETest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/ProcessorManagementServiceImplIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/leader/PersistentConnectionLeaderElectorTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/sharedfetch/SharedFetchModuleProcessorIntegrationTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/AbstractCrabletTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/AbstractEventStoreIntegrationTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventTagsAppendBenchmarkTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventTagsDriftTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventsTagsIdempotencyBenchmarkTest.java
  crablet-eventstore/src/test/resources/application-test.properties
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/integration/AbstractMetricsIntegrationTest.java
  crablet-outbox/src/test/java/com/crablet/integration/AbstractCrabletTest.java
  crablet-outbox/src/test/java/com/crablet/integration/AbstractOutboxIntegrationTest.java
  crablet-outbox/src/test/java/com/crablet/integration/AbstractOutboxLockAcquisitionTest.java
  crablet-outbox/src/test/java/com/crablet/integration/AbstractOutboxManagementServiceTest.java
  crablet-outbox/src/test/java/com/crablet/integration/AbstractOutboxProcessorTest.java
  crablet-outbox/src/test/java/com/crablet/integration/OutboxLeaderFailoverTest.java
  crablet-outbox/src/test/java/com/crablet/integration/wallet/GlobalStatisticsWalletTest.java
  crablet-outbox/src/test/resources/application-test.properties
  crablet-test-support/src/main/java/com/crablet/test/AbstractPostgresEventStoreTest.java
  crablet-views/src/test/java/com/crablet/views/controller/ViewControllerE2ETest.java
  crablet-views/src/test/java/com/crablet/views/integration/AbstractViewsIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/AbstractViewsTest.java
  crablet-views/src/test/java/com/crablet/views/integration/course/ViewEventFetcherCourseIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/course/ViewManagementServiceCourseIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/course/ViewProgressTrackerCourseIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/wallet/ViewEventFetcherWalletIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/wallet/ViewManagementServiceWalletIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/wallet/ViewProgressTrackerWalletIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/service/ViewManagementServiceTest.java
Due: none

Tighten import checks and event type contract
  .claude/skills/crablet-conventions/SKILL.md
  CLAUDE.md
  config/checkstyle/java-import-style.xml
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-codegen/src/main/java/com/crablet/codegen/generator/ViewsGenerator.java
  crablet-codegen/src/main/java/com/crablet/codegen/planning/ModelValidator.java
  crablet-commands-web/src/main/java/com/crablet/command/web/CommandApiExposedCommands.java
  crablet-commands/src/main/java/com/crablet/command/CommandDecision.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplPersistenceTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/TestApplication.java
  crablet-commands/src/test/java/com/crablet/command/internal/CommandExecutorImplTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/EventProcessorImplWakeupTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/sharedfetch/SharedFetchModuleProcessorIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/sharedfetch/StreamGathererWindowingTest.java
  crablet-eventstore/README.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/Tag.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreErrorHandlingTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreQueryTest.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/integration/CommandMetricsIntegrationTest.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-outbox/src/test/java/com/crablet/outbox/management/OutboxManagementServiceTest.java
  crablet-outbox/src/test/java/com/crablet/outbox/publishers/GlobalStatisticsPublisherTest.java
  crablet-outbox/src/test/java/com/crablet/testutils/CountDownLatchPublisher.java
  crablet-test-support/README.md
  crablet-test-support/src/main/java/com/crablet/test/EventTypeContract.java
  crablet-test-support/src/main/java/com/crablet/test/InMemoryEventStore.java
  crablet-views/src/test/java/com/crablet/views/AbstractViewProjectorTest.java
  crablet-views/src/test/java/com/crablet/views/integration/course/ViewEventFetcherCourseIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/wallet/ViewProgressTrackerWalletIntegrationTest.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/command/LoanApplicationQueryPatterns.java
  shared-examples-domain/src/main/java/com/crablet/examples/course/projections/CourseCapacityProjection.java
  shared-examples-domain/src/main/java/com/crablet/examples/course/projections/CourseSubscriptionsCountProjection.java
  shared-examples-domain/src/main/java/com/crablet/examples/course/projections/StudentAlreadySubscribedProjection.java
  shared-examples-domain/src/main/java/com/crablet/examples/course/projections/StudentSubscriptionsCountProjection.java
  shared-examples-domain/src/test/java/com/crablet/examples/EventTypeContractTest.java
Due: EventStore, Outbox

build: add crablet-test-* modules to BOM; fix stale renamed-class doc ref
  .claude/skills/crablet-maintainer/SKILL.md
  examples/course-example-app/pom.xml
  examples/wallet-example-app/pom.xml
  pom.xml
Due: none

feat(codegen): AI workflow trust hardening — deterministic pipeline + golden tests
  .claude/skills/crablet-codegen/SKILL.md
  .claude/skills/crablet-maintainer/SKILL.md
  .github/workflows/maven.yml
  CLAUDE.md
  Makefile
  crablet-codegen/README.md
  crablet-codegen/src/main/java/com/crablet/codegen/agents/RepairAgent.java
  crablet-codegen/src/main/java/com/crablet/codegen/llm/CodegenLlmClient.java
  crablet-codegen/src/main/java/com/crablet/codegen/llm/CodegenLlmProperties.java
  crablet-codegen/src/main/java/com/crablet/codegen/llm/DirectLlmClient.java
  crablet-codegen/src/main/java/com/crablet/codegen/tools/FileWriterTool.java
  crablet-codegen/src/main/java/com/crablet/codegen/tools/TemplateLoader.java
  crablet-codegen/src/test/java/com/crablet/codegen/CodegenAppContextTest.java
  crablet-codegen/src/test/java/com/crablet/codegen/architecture/CodegenArchitectureTest.java
  crablet-codegen/src/test/java/com/crablet/codegen/generator/AutomationsGeneratorTest.java
  crablet-codegen/src/test/java/com/crablet/codegen/generator/CommandsGeneratorTest.java
  crablet-codegen/src/test/java/com/crablet/codegen/generator/EventsGeneratorTest.java
  crablet-codegen/src/test/java/com/crablet/codegen/generator/OutboxGeneratorTest.java
  crablet-codegen/src/test/java/com/crablet/codegen/generator/ViewsGeneratorTest.java
  crablet-codegen/src/test/java/com/crablet/codegen/tools/FileWriterToolTest.java
  docs/dev/plans/ai-workflow-trust-hardening.md
  docs/user/ai-tooling/AI_FIRST_WORKFLOW.md
  docs/user/ai-tooling/AI_WORKFLOW_FEASIBILITY.md
  examples/loan-generated-snapshot/src/main/java/com/example/loan/command/SubmitLoanApplication.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/command/SubmitLoanApplicationCommandHandler.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/domain/LoanApplicationEvent.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/domain/LoanApplicationSubmitted.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/view/PendingLoanApplicationsViewProjector.java
  examples/loan-generated-snapshot/src/main/resources/db/migration/V100__create_pending_loan_applications.sql
  pom.xml
Due: none

docs: remove stale LLM-agent and repair-loop references post-trust-hardening
  docs/dev/PRODUCT_ROADMAP.md
  docs/user/ai-tooling/FEATURE_SLICE_WORKFLOW.md
  templates/README.md
  templates/crablet-app/.claude/skills/crablet-codegen/SKILL.md
  templates/crablet-app/CLAUDE.md
  templates/crablet-app/README.md
Due: none

feat(codegen): validate event-model.yaml in generate before writing files
  crablet-codegen/src/main/java/com/crablet/codegen/pipeline/CodegenPipeline.java
  crablet-codegen/src/test/java/com/crablet/codegen/pipeline/CodegenPipelineTest.java
Due: none

Refactor/test support split (#35)
  crablet-codegen/src/main/java/com/crablet/codegen/pipeline/CodegenPipeline.java
  crablet-codegen/src/test/java/com/crablet/codegen/pipeline/CodegenPipelineTest.java
  docs/dev/PRODUCT_ROADMAP.md
  docs/user/ai-tooling/FEATURE_SLICE_WORKFLOW.md
  templates/README.md
  templates/crablet-app/.claude/skills/crablet-codegen/SKILL.md
  templates/crablet-app/CLAUDE.md
  templates/crablet-app/README.md
Due: none

ci: add explicit Pages deployment workflow with concurrency guard
  .github/workflows/pages.yml
Due: none

feat(examples): add WalletClosed tombstone + UmaDB-inspired API ergonomics
  CLAUDE.md
  crablet-commands/src/main/java/com/crablet/command/CommandDecision.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/CloseWalletCommandHandlerTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/WalletTestUtils.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/unit/CloseWalletCommandHandlerUnitTest.java
  crablet-eventstore/README.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/AppendCondition.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/AppendEvent.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
  docs-samples/src/main/java/com/crablet/docs/samples/tutorial/Tutorial03DcbSample.java
  docs/dev/API_ASSESSMENT.md
  docs/user/UPGRADE.md
  docs/user/generated/tutorial03-main.java
  docs/user/tutorials/03-dcb-consistency-boundaries.md
  examples/wallet-example-app/src/main/java/com/crablet/wallet/view/projectors/WalletBalanceViewProjector.java
  examples/wallet-example-app/src/main/java/com/crablet/wallet/view/projectors/WalletStatementViewProjector.java
  examples/wallet-example-app/src/main/java/com/crablet/wallet/view/projectors/WalletSummaryViewProjector.java
  examples/wallet-example-app/src/main/java/com/crablet/wallet/view/projectors/WalletTransactionViewProjector.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/WalletCommand.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/WalletQueryPatterns.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/CloseWalletCommand.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/CloseWalletCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/events/WalletClosed.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/events/WalletEvent.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/projections/WalletBalanceStateProjector.java
Due: EventStore

fix(eventstore): serialize genuinely concurrent appendNonCommutative races
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/AppendNonCommutativeConcurrentRaceTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/AppendNonCommutativeLatencyBenchTest.java
Due: EventStore

refactor(event-poller): replace 4 trailing Set<String> params with EventSelection
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventProcessorFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventSelection.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/EventProcessorFactoryTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/EventSelectionTest.java
  crablet-outbox/src/main/java/com/crablet/outbox/TopicConfig.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  docs/user/UPGRADE.md
Due: Outbox

fix(eventstore): advisory-lock DCB fix reaching command handlers + CommutativeGuarded atomicity
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/integration/CommutativeGuardedConcurrentRaceTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplConcurrencyTest.java
  crablet-db-migrations/src/main/resources/db/migration/V1__crablet_eventstore_schema.sql
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/AppendNonCommutativeConcurrentRaceTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/AppendNonCommutativeLatencyBenchTest.java
  crablet-test-support/src/main/java/com/crablet/test/InMemoryEventStore.java
  crablet-test-support/src/main/resources/db/migration/V1__crablet_eventstore_schema.sql
  docs/user/UPGRADE.md
Due: EventStore

refactor: simplify event processing architecture
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/main/java/com/crablet/automations/management/AutomationManagementService.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/CommandApiExceptionHandler.java
  crablet-commands-web/src/test/java/com/crablet/command/web/internal/CommandApiExceptionHandlerTest.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/integration/CommutativeGuardedConcurrentRaceTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplConcurrencyTest.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventProcessorFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/ProcessorSpec.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/management/AbstractProgressManagementService.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/sharedfetch/SharedFetchModuleProcessor.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/EventProcessorFactoryTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/sharedfetch/SharedFetchModuleProcessorIntegrationTest.java
  crablet-eventstore/README.md
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  crablet-eventstore/docs/METRICS.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/DCBErrorCode.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/DCBViolation.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/ConcurrencyExceptionTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/DCBViolationTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/internal/EventStoreImplTest.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-outbox/src/main/java/com/crablet/outbox/management/OutboxManagementService.java
  crablet-test-support/src/main/java/com/crablet/test/InMemoryEventStore.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/service/ViewManagementService.java
  docs/user/UPGRADE.md
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/period/WalletStatementPeriodResolver.java
Due: EventStore, Outbox

refactor: simplify event processing architecture (#36)
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/main/java/com/crablet/automations/management/AutomationManagementService.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/CommandApiExceptionHandler.java
  crablet-commands-web/src/test/java/com/crablet/command/web/internal/CommandApiExceptionHandlerTest.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/integration/CommutativeGuardedConcurrentRaceTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplConcurrencyTest.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventProcessorFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/ProcessorSpec.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/management/AbstractProgressManagementService.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/sharedfetch/SharedFetchModuleProcessor.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/EventProcessorFactoryTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/sharedfetch/SharedFetchModuleProcessorIntegrationTest.java
  crablet-eventstore/README.md
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  crablet-eventstore/docs/METRICS.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/DCBErrorCode.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/DCBViolation.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/ConcurrencyExceptionTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/DCBViolationTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/internal/EventStoreImplTest.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-outbox/src/main/java/com/crablet/outbox/management/OutboxManagementService.java
  crablet-test-support/src/main/java/com/crablet/test/InMemoryEventStore.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/service/ViewManagementService.java
  docs/user/UPGRADE.md
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/period/WalletStatementPeriodResolver.java
Due: EventStore, Outbox

Path conditions:
  EventStore: any of: crablet-eventstore/src/main/**
  Command: any of: crablet-command/src/main/**
  Outbox: any of: crablet-outbox/src/main/**
  Metrics: any of: crablet-metrics-micrometer/src/main/**
