Repository rodolfodpk/spring-crablet: changes, and which Codecov flags are due for each by the changed paths.
All: EventStore, Command, Outbox, Metrics

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  # Only report coverage for library code
  ignore: []
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error
    
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,components,tree"
  behavior: default
  require_changes: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
      - type: patch
        target: auto
  
  individual_components:
    - component_id: module_eventstore
      name: EventStore
      paths:
        - "crablet-eventstore/src/main/**"
      statuses:
        - type: project
          target: auto
        - type: patch
          target: auto
    
    - component_id: module_command
      name: Command
      paths:
        - "crablet-command/src/main/**"
      statuses:
        - type: project
          target: auto
        - type: patch
          target: auto
    
    - component_id: module_outbox
      name: Outbox
      paths:
        - "crablet-outbox/src/main/**"
      statuses:
        - type: project
          target: auto
        - type: patch
          target: auto
    
    - component_id: module_metrics
      name: Metrics
      paths:
        - "crablet-metrics-micrometer/src/main/**"
      statuses:
        - type: project
          target: auto
        - type: patch
          target: auto

Clarify global vs per-processor poller config
  crablet-automations/README.md
  crablet-event-poller/README.md
  crablet-outbox/README.md
  crablet-views/README.md
  docs/TUTORIAL.md
  docs/tutorials/04-views.md
  docs/tutorials/05-automations.md
  docs/tutorials/06-outbox.md
Due: none

Update Claude guidance for latest architecture
  CLAUDE.md
Due: none

Align automations integration tests with typed datasource beans
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationDispatcherIntegrationTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationEventFetcherIntegrationTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationProcessingLoopIntegrationTest.java
Due: none

Add poller wakeup design note
  docs/poller-wakeup-plan.md
Due: none

Add poller wakeup notification support and make factory optional
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-event-poller/pom.xml
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventProcessorFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerAutoConfiguration.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerNotificationProperties.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/BackoffState.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/EventProcessorImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/NoopProcessorWakeupSource.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/NoopProcessorWakeupSourceFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSource.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSourceFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/ProcessorWakeupSource.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/ProcessorWakeupSourceFactory.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/BackoffStateTest.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/config/EventStoreAutoConfiguration.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreNotificationProperties.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/notify/EventAppendNotifier.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/notify/NoopEventAppendNotifier.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/notify/PostgresNotifyEventAppendNotifier.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
Due: EventStore, Outbox

Remove enabled toggles from notification properties
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerAutoConfiguration.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerNotificationProperties.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/config/EventStoreAutoConfiguration.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreNotificationProperties.java
Due: EventStore

Document LISTEN/NOTIFY support and pooler compatibility
  crablet-event-poller/README.md
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerNotificationProperties.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreNotificationProperties.java
Due: EventStore

Update docs to reflect implemented notification design
  CLAUDE.md
  docs/poller-wakeup-plan.md
Due: none

Fix race condition in PersistentConnectionLeaderElectorTest
  crablet-event-poller/src/test/java/com/crablet/eventpoller/leader/PersistentConnectionLeaderElectorTest.java
Due: none

Bump resilience4j, springdoc, and logstash-logback-encoder
  pom.xml
Due: none

Bump Spring Boot 4.0.1 → 4.0.5
  pom.xml
Due: none

Bump Testcontainers 1.21.4 → 2.0.4 and JUnit 6.0.0 → 6.0.2
  crablet-automations/pom.xml
  crablet-commands/pom.xml
  crablet-event-poller/pom.xml
  crablet-eventstore/pom.xml
  crablet-metrics-micrometer/pom.xml
  crablet-outbox/pom.xml
  crablet-test-support/pom.xml
  crablet-views/pom.xml
  pom.xml
  shared-examples-domain/pom.xml
  wallet-example-app/pom.xml
Due: none

Tone down README adoption claims
  README.md
Due: none

Align automation naming and tighten docs
  README.md
  crablet-automations/README.md
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationProgressTracker.java
  crablet-automations/src/main/java/com/crablet/automations/management/AutomationManagementService.java
  crablet-automations/src/main/java/com/crablet/automations/management/AutomationProgressDetails.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AbstractAutomationsTest.java
  crablet-commands/README.md
  crablet-event-poller/README.md
  crablet-event-poller/src/main/java/com/crablet/eventpoller/progress/AbstractSingleKeyProgressTracker.java
  crablet-eventstore/README.md
  crablet-outbox/README.md
  crablet-outbox/docs/OUTBOX_PATTERN.md
  crablet-test-support/README.md
  crablet-test-support/src/main/resources/db/migration/V4__automation_progress_schema.sql
  crablet-test-support/src/main/resources/db/migration/V4__reaction_progress_schema.sql
  crablet-views/README.md
  docs/BUILD.md
  docs/MANAGEMENT_API.md
  docs/QUICKSTART.md
  scripts/verify-docs.sh
  wallet-example-app/README.md
  wallet-example-app/src/main/java/com/crablet/wallet/api/AutomationsManagementController.java
  wallet-example-app/src/main/java/com/crablet/wallet/automations/WalletOpenedAutomation.java
  wallet-example-app/src/main/java/com/crablet/wallet/automations/package-info.java
  wallet-example-app/src/main/java/com/crablet/wallet/reactions/package-info.java
  wallet-example-app/src/main/resources/db/migration/V11__rename_reaction_progress_to_automation_progress.sql
  wallet-example-app/src/test/java/com/crablet/wallet/e2e/WalletAutomationE2ETest.java
Due: none

Remove StreamPosition.of(long) and enforce ClockProvider convention
  CLAUDE.md
  crablet-event-poller/README.md
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerAutoConfiguration.java
  crablet-eventstore/TESTING.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/StreamPosition.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/StreamPositionTest.java
  crablet-outbox/src/main/java/com/crablet/outbox/PublishException.java
Due: EventStore, Outbox

docs: update event model command names
  shared-examples-domain/docs/course-event-model.drawio
  shared-examples-domain/docs/wallet-event-model.drawio
Due: none

docs: rename wallet reaction to automation
  shared-examples-domain/README.md
  shared-examples-domain/docs/wallet-event-model.drawio
Due: none

docs: refresh wallet event model png
  shared-examples-domain/docs/wallet-event-model.drawio.png
Due: none

docs: remove comparisons page
  README.md
  docs/COMPARISONS.md
  scripts/verify-docs.sh
Due: none

Fix Spring Boot 4.x startup issues and add OJP connection proxy docs
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-eventstore/docs/OJP.md
  crablet-eventstore/docs/PGBOUNCER.md
  crablet-eventstore/docs/PGCAT.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/config/EventStoreAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  wallet-example-app/pom.xml
  wallet-example-app/src/main/java/com/crablet/wallet/api/AutomationsManagementController.java
  wallet-example-app/src/main/java/com/crablet/wallet/config/CrabletConfig.java
Due: EventStore

Fix make start to use ../mvnw inside wallet-example-app
  Makefile
Due: none

docs: simplify module and API surface
  README.md
  crablet-automations/README.md
  crablet-outbox/README.md
  crablet-test-support/README.md
  crablet-views/README.md
  docs/MANAGEMENT_API.md
  docs/QUICKSTART.md
  docs/TUTORIAL.md
  docs/tutorials/05-automations.md
Due: none

feat: propagate correlation/causation IDs through event chains
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationDispatcher.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/AbstractJdbcEventFetcher.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/CorrelationContext.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/StoredEvent.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventRepositoryImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-test-support/src/main/resources/db/migration/V5__correlation_causation.sql
  wallet-example-app/src/main/java/com/crablet/wallet/api/CorrelationFilter.java
  wallet-example-app/src/main/resources/db/migration/V12__correlation_causation.sql
  wallet-example-app/src/test/java/com/crablet/wallet/e2e/WalletAutomationE2ETest.java
Due: EventStore

feat(commands): add optional HTTP command API endpoint
  crablet-commands/README.md
  crablet-commands/pom.xml
  crablet-commands/src/main/java/com/crablet/command/api/CommandApiExposedCommands.java
  crablet-commands/src/main/java/com/crablet/command/api/CommandApiProperties.java
  crablet-commands/src/main/java/com/crablet/command/api/CommandApiResponse.java
  crablet-commands/src/main/java/com/crablet/command/api/internal/CommandApiAutoConfiguration.java
  crablet-commands/src/main/java/com/crablet/command/api/internal/CommandApiBadRequestException.java
  crablet-commands/src/main/java/com/crablet/command/api/internal/CommandApiController.java
  crablet-commands/src/main/java/com/crablet/command/api/internal/CommandApiExceptionHandler.java
  crablet-commands/src/main/java/com/crablet/command/api/internal/CommandNotExposedException.java
  crablet-commands/src/main/java/com/crablet/command/api/internal/ExposedCommandTypeRegistry.java
  crablet-commands/src/main/java/com/crablet/command/api/internal/HttpCommandApiHandler.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandTypeResolver.java
  crablet-commands/src/main/java/com/crablet/command/internal/DiscoveredCommandRegistry.java
  crablet-commands/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  crablet-commands/src/test/java/com/crablet/command/api/CommandApiCustomBasePathE2ETest.java
  crablet-commands/src/test/java/com/crablet/command/api/CommandApiDisabledE2ETest.java
  crablet-commands/src/test/java/com/crablet/command/api/CommandApiE2ETest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplConstructorTest.java
Due: none

refactor(commands): extract HTTP adapter into crablet-commands-web module
  CLAUDE.md
  crablet-commands-web/README.md
  crablet-commands-web/pom.xml
  crablet-commands-web/src/main/java/com/crablet/command/web/CommandApiExposedCommands.java
  crablet-commands-web/src/main/java/com/crablet/command/web/CommandApiProperties.java
  crablet-commands-web/src/main/java/com/crablet/command/web/CommandApiResponse.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/CommandApiBadRequestException.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/CommandApiExceptionHandler.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/CommandApiRestController.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/CommandNotExposedException.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/CommandWebAutoConfiguration.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/ExposedCommandTypeRegistry.java
  crablet-commands-web/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  crablet-commands-web/src/test/java/com/crablet/command/web/CommandApiCustomBasePathE2ETest.java
  crablet-commands-web/src/test/java/com/crablet/command/web/CommandApiE2ETest.java
  crablet-commands-web/src/test/java/com/crablet/command/web/TestApplication.java
  crablet-commands/README.md
  crablet-commands/src/main/java/com/crablet/command/api/internal/CommandApiAutoConfiguration.java
  crablet-commands/src/main/java/com/crablet/command/api/internal/HttpCommandApiHandler.java
  crablet-commands/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  crablet-commands/src/test/java/com/crablet/command/api/CommandApiDisabledE2ETest.java
  docs/BUILD.md
  pom.xml
  wallet-example-app/pom.xml
  wallet-example-app/src/main/java/com/crablet/wallet/config/CrabletConfig.java
Due: none

refactor: promote DiscoveredCommandRegistry to public API, add correlationId overload, move TopicPublisherPair to public package
  README.md
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/test/java/com/crablet/automations/internal/AutomationDefinitionConsistencyTest.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/CommandWebAutoConfiguration.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/ExposedCommandTypeRegistry.java
  crablet-commands/src/main/java/com/crablet/command/CommandExecutor.java
  crablet-commands/src/main/java/com/crablet/command/DiscoveredCommandRegistry.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/test/java/com/crablet/command/internal/CommandExecutorImplTest.java
  crablet-eventstore/README.md
  crablet-outbox/src/main/java/com/crablet/outbox/TopicPublisherPair.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-outbox/src/main/java/com/crablet/outbox/internal/OutboxEventFetcher.java
  crablet-outbox/src/main/java/com/crablet/outbox/internal/OutboxEventHandler.java
  crablet-outbox/src/main/java/com/crablet/outbox/internal/OutboxProcessorConfig.java
  crablet-outbox/src/main/java/com/crablet/outbox/internal/OutboxProgressTracker.java
  crablet-outbox/src/main/java/com/crablet/outbox/internal/TopicPublisherPair.java
  crablet-outbox/src/main/java/com/crablet/outbox/management/OutboxManagementService.java
  crablet-outbox/src/test/java/com/crablet/integration/AbstractOutboxLockAcquisitionTest.java
  crablet-outbox/src/test/java/com/crablet/integration/AbstractOutboxManagementServiceTest.java
  crablet-outbox/src/test/java/com/crablet/integration/AbstractOutboxProcessorTest.java
  crablet-outbox/src/test/java/com/crablet/integration/OutboxLeaderFailoverTest.java
  crablet-outbox/src/test/java/com/crablet/integration/wallet/GlobalStatisticsWalletTest.java
  crablet-outbox/src/test/java/com/crablet/outbox/TopicPublisherPairTest.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  docs/COMMANDS_FIRST_ADOPTION.md
  docs/CORRELATION_CAUSATION.md
  docs/MODULARITY_REVIEW.html
  docs/MODULARITY_REVIEW.md
  wallet-example-app/README.md
  wallet-example-app/src/main/java/com/crablet/wallet/WalletApplication.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/DashboardController.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/OutboxManagementController.java
  wallet-example-app/src/main/java/com/crablet/wallet/config/CrabletConfig.java
  wallet-example-app/src/main/resources/application.properties
  wallet-example-app/src/main/resources/db/migration/V13__outbox_schema.sql
  wallet-example-app/src/test/java/com/crablet/wallet/e2e/WalletCorrelationCausationE2ETest.java
  wallet-example-app/src/test/java/com/crablet/wallet/e2e/WalletOutboxE2ETest.java
Due: Outbox

docs: refresh javadocs and doc checks
  crablet-commands/src/main/java/com/crablet/command/CommandDecision.java
  crablet-commands/src/main/java/com/crablet/command/CommandExecutor.java
  crablet-commands/src/main/java/com/crablet/command/DiscoveredCommandRegistry.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandTypeResolver.java
  crablet-commands/src/main/java/com/crablet/command/metrics/package-info.java
  crablet-commands/src/main/java/com/crablet/package-info.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerNotificationProperties.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/EventProcessorImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/LeaderElectorImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/AppendCondition.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/CommandAuditStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/metrics/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/EventRepository.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/ProjectionResult.java
  crablet-outbox/src/main/java/com/crablet/outbox/OutboxPublisher.java
  crablet-outbox/src/main/java/com/crablet/outbox/TopicPublisherPair.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/metrics/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/package-info.java
  docs-samples/pom.xml
  docs/MANAGEMENT_API.md
  pom.xml
Due: EventStore, Outbox

docs: add new crablet app guide
  README.md
  docs/CREATE_A_CRABLET_APP.md
  docs/plans/create-crablet-app-and-cli-position.md
Due: none

docs: clean up markdown link labels
  README.md
  crablet-commands/README.md
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/README.md
  crablet-outbox/README.md
  crablet-test-support/README.md
  docs/COMMANDS_FIRST_ADOPTION.md
  docs/CREATE_A_CRABLET_APP.md
  docs/DOCS_VERIFICATION.md
  docs/LEARNING_MODE.md
  docs/QUICKSTART.md
  docs/TUTORIAL.md
  docs/tutorials/01-event-store-basics.md
  docs/tutorials/02-commands.md
  docs/tutorials/03-dcb-consistency-boundaries.md
  docs/tutorials/04-views.md
  docs/tutorials/05-automations.md
  docs/tutorials/06-outbox.md
  shared-examples-domain/README.md
Due: none

docs: consolidate connection pooler guides and add shared-poller fan-out plan
  CLAUDE.md
  README.md
  crablet-eventstore/docs/CONNECTION_POOLERS.md
  crablet-eventstore/docs/OJP.md
  crablet-eventstore/docs/PGBOUNCER.md
  crablet-eventstore/docs/PGCAT.md
  crablet-eventstore/docs/READ_REPLICAS.md
  docs/plans/shared-poller-fan-out.md
Due: none

docs: refine shared-poller-fan-out plan to v9
  docs/plans/shared-poller-fan-out.md
Due: none

docs: refine shared-poller-fan-out plan to v10
  docs/plans/shared-poller-fan-out.md
Due: none

docs: refine shared-poller-fan-out plan to v11
  docs/plans/shared-poller-fan-out.md
Due: none

feat(event-poller): add EventSelectionMatcher, cursor state machine, and scan progress schema
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventSelectionMatcher.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/sharedfetch/CursorUpdate.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/sharedfetch/DispatchOutcome.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/sharedfetch/ProcessorCursorStateMachine.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/EventSelectionMatcherTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/sharedfetch/ProcessorCursorStateMachineTest.java
  crablet-test-support/src/main/resources/db/migration/V6__shared_fetch_scan_progress.sql
  wallet-example-app/src/main/resources/db/migration/V14__shared_fetch_scan_progress.sql
Due: none

feat: implement shared-fetch module processor for views (step 4)
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/EventProcessorImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/ProcessorManagementServiceImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/sharedfetch/BackoffInfoProvider.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/sharedfetch/ModuleScanProgressRepository.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/sharedfetch/ProcessorScanProgressRepository.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/sharedfetch/SharedFetchModuleProcessor.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/sharedfetch/SharedFetchModuleProcessorIntegrationTest.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsConfig.java
Due: none

docs+test: add shared-fetch docs and E2E test for views (step 5)
  crablet-views/README.md
  docs/plans/shared-poller-fan-out.md
  docs/tutorials/04-views.md
  wallet-example-app/src/main/resources/application.properties
  wallet-example-app/src/test/java/com/crablet/wallet/e2e/SharedFetchWalletLifecycleE2ETest.java
Due: none

feat: port shared-fetch to automations and outbox (steps 6-7)
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsConfig.java
  crablet-outbox/src/main/java/com/crablet/outbox/TopicPublisherPair.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxConfig.java
Due: Outbox

feat: make poller constants configurable and enforce ClockProvider convention
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsConfig.java
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationDispatcher.java
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationProcessorConfig.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventProcessorFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerAutoConfiguration.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerConfig.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/EventProcessorImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/ClockProvider.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsConfig.java
  crablet-views/src/main/java/com/crablet/views/internal/ViewEventHandler.java
  crablet-views/src/main/java/com/crablet/views/internal/ViewProcessorConfig.java
Due: EventStore, Outbox
