Repository rodolfodpk/spring-crablet: changes, and which Codecov flags are due for each by the changed paths.
All: EventStore, Command, Outbox, Metrics

docs+refactor: replace 'cursor' with 'streamPosition' terminology throughout
  CLAUDE.md
  crablet-commands/README.md
  crablet-commands/src/test/java/com/crablet/command/handlers/unit/InMemoryEventStore.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/TransferMoneyCommandHandlerTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/integration/OptimisticLockingTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/integration/WalletDCBComplianceTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplConcurrencyTest.java
  crablet-event-poller/README.md
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/README.md
  crablet-eventstore/SCHEMA.md
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/QuerySqlBuilder.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/package-info.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/AppendConditionBuilderTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/ConcurrencyExceptionTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/DCBViolationTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/DCBTestHelpers.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreErrorHandlingTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreQueryTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/internal/QuerySqlBuilderImplTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/query/ProjectionResultTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/query/QueryTest.java
  crablet-outbox/docs/OUTBOX_PATTERN.md
  crablet-test-support/src/main/java/com/crablet/eventstore/integration/DCBTestHelpers.java
  crablet-test-support/src/main/java/com/crablet/test/InMemoryEventStore.java
  docs/TUTORIAL.md
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/TransferMoneyCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/WithdrawCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/period/WalletStatementPeriodResolver.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/projections/WalletBalanceStateProjector.java
Due: EventStore

refactor: eliminate all @Deprecated code from public API
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationEventFetcherIntegrationTest.java
  crablet-commands/src/main/java/com/crablet/command/CommandDecision.java
  crablet-commands/src/test/java/com/crablet/command/handlers/unit/InMemoryEventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/QueryBuilder.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreErrorHandlingTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreQueryTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/query/StateProjectorTest.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/ClosingBooksPatternTest.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/integration/EventStoreMetricsIntegrationTest.java
  crablet-test-support/src/main/java/com/crablet/test/InMemoryEventStore.java
  crablet-views/src/main/java/com/crablet/views/config/ViewSubscriptionConfig.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/period/WalletStatementPeriodResolver.java
  wallet-example-app/src/test/java/com/crablet/wallet/e2e/WalletLifecycleE2ETest.java
Due: EventStore

fix: commit moved EventStoreConfig to root eventstore package
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStoreConfig.java
Due: EventStore

fix: commit missing source files left untracked after refactoring
  crablet-commands/src/main/java/com/crablet/command/OnDuplicate.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventProcessorFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/InstanceIdProvider.java
Due: none

docs(readme): convert modules list to table
  README.md
Due: none

feat(eventstore): add ProjectionResult.appendNonCommutative for compile-time safety
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/ProjectionResult.java
  docs/TUTORIAL.md
Due: EventStore

refactor(commands): remove inner Decision records — decide() returns CommandDecision variants directly
  CLAUDE.md
  crablet-commands/src/main/java/com/crablet/command/CommandDecision.java
  crablet-commands/src/main/java/com/crablet/command/CommutativeCommandHandler.java
  crablet-commands/src/main/java/com/crablet/command/IdempotentCommandHandler.java
  crablet-commands/src/main/java/com/crablet/command/NonCommutativeCommandHandler.java
  crablet-commands/src/test/java/com/crablet/command/handlers/courses/ChangeCourseCapacityCommandHandler.java
  crablet-commands/src/test/java/com/crablet/command/handlers/courses/DefineCourseCommandHandler.java
  crablet-commands/src/test/java/com/crablet/command/handlers/courses/SubscribeStudentToCourseCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/notification/commands/SendWelcomeNotificationCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/DepositCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/OpenWalletCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/TransferMoneyCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/WithdrawCommandHandler.java
Due: none

perf(event-poller): tighten default backoff to reduce idle DB polling
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsConfig.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxConfig.java
  crablet-outbox/src/test/java/com/crablet/outbox/config/OutboxConfigTest.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsConfig.java
Due: Outbox

docs: add management API reference with curl examples
  docs/MANAGEMENT_API.md
Due: none

feat(eventstore): add EventStore.exists(Query) convenience method
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/StateProjector.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/query/StateProjectorTest.java
Due: EventStore

docs: update existence check examples to use EventStore.exists(query)
  CLAUDE.md
  docs/TUTORIAL.md
Due: none

perf(eventstore): optimize EventStore.exists() with SELECT EXISTS query
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventProcessorFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/leader/LeaderElector.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
Due: EventStore

docs(eventstore): update EventStore.exists() Javadoc to reflect optimized SQL implementation
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
Due: EventStore

fix(eventstore): reject null events list in append methods with clear NPE
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
Due: EventStore

docs: replace Decision.of() with CommandDecision variants across all docs
  crablet-commands/README.md
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/README.md
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-outbox/docs/OUTBOX_PATTERN.md
  docs/TUTORIAL.md
Due: none

fix(eventstore): remove redundant runtime null checks from append methods
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
Due: EventStore

fix(eventstore): remove redundant null checks from project() method
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
Due: EventStore

docs: extract tag values from event objects instead of duplicating literals
  CLAUDE.md
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  docs/TUTORIAL.md
Due: none

feat(eventstore): add project() convenience overloads defaulting to StreamPosition.zero()
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
Due: EventStore

docs: update project() calls to use new convenience overloads
  CLAUDE.md
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/README.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-outbox/docs/OUTBOX_PATTERN.md
  docs/TUTORIAL.md
Due: none

feat(commands): add selective lifecycle guard to CommutativeCommandHandler
  crablet-commands/src/main/java/com/crablet/command/CommandDecision.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/test/java/com/crablet/command/CommandDecisionTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplConcurrencyTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplPersistenceTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplValidationTest.java
  crablet-commands/src/test/java/com/crablet/command/internal/CommandExecutorImplTest.java
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/WalletQueryPatterns.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/DepositCommandHandler.java
Due: EventStore

refactor(api): API quality fixes — EventStore and CommandHandler surface
  CLAUDE.md
  crablet-automations/README.md
  crablet-commands/README.md
  crablet-commands/src/main/java/com/crablet/command/CommandDecision.java
  crablet-commands/src/main/java/com/crablet/command/CommandExecutor.java
  crablet-commands/src/main/java/com/crablet/command/CommutativeCommandHandler.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/main/java/com/crablet/command/package-info.java
  crablet-commands/src/test/java/com/crablet/command/CommandDecisionTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/unit/InMemoryEventStore.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/WalletCommandsTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/integration/CommandExecutorTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/integration/OptimisticLockingTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplConcurrencyTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplErrorHandlingTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplIdempotentTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplPersistenceTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplValidationTest.java
  crablet-commands/src/test/java/com/crablet/command/internal/CommandExecutorImplTest.java
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/TESTING.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/docs/READ_REPLICAS.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/AppendCondition.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/AppendConditionBuilder.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/CommandAuditStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/ProjectionResult.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/Query.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreTest.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/integration/CommandMetricsIntegrationTest.java
  crablet-outbox/docs/OUTBOX_RATIONALE.md
  crablet-test-support/src/main/java/com/crablet/test/InMemoryEventStore.java
  docs/TUTORIAL.md
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/DepositCommandHandler.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/WalletController.java
  wallet-example-app/src/main/java/com/crablet/wallet/reactions/WalletOpenedReaction.java
Due: EventStore

docs: clarify DCB concept vs Crablet's append API
  crablet-eventstore/README.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
Due: none

docs(eventstore): improve README clarity on DCB vs Crablet API
  crablet-eventstore/README.md
Due: none

docs: split root README DCB section into DCB vs Crablet API
  README.md
Due: none

docs: fix CLAUDE.md — Crablet's append methods are not DCB patterns
  CLAUDE.md
Due: none

feat(metrics): enrich CommandSuccessMetric with operation type
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/main/java/com/crablet/command/metrics/CommandSuccessMetric.java
  crablet-metrics-micrometer/src/main/java/com/crablet/metrics/micrometer/MicrometerMetricsCollector.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/MicrometerMetricsCollectorTest.java
Due: Metrics

Fix poller leadership and document pooler routing
  README.md
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/EventProcessorImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/LeaderElectorImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/processor/ProcessorConfig.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/EventProcessorImplIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/LeaderElectorImplIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/leader/PersistentConnectionLeaderElectorTest.java
  crablet-eventstore/docs/PGBOUNCER.md
  crablet-eventstore/docs/PGCAT.md
  crablet-eventstore/docs/READ_REPLICAS.md
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/integration/TestApplication.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-outbox/src/main/java/com/crablet/outbox/internal/OutboxEventHandler.java
  crablet-outbox/src/main/java/com/crablet/outbox/internal/OutboxProcessorConfig.java
  crablet-outbox/src/main/java/com/crablet/outbox/publishing/OutboxPublishingService.java
  crablet-outbox/src/main/java/com/crablet/outbox/publishing/OutboxPublishingServiceImpl.java
  docs/LEADER_ELECTION.md
Due: Outbox

Refine command executor public API
  crablet-commands/README.md
  crablet-commands/src/main/java/com/crablet/command/CommandDecision.java
  crablet-commands/src/main/java/com/crablet/command/CommandExecutors.java
  crablet-commands/src/main/java/com/crablet/command/CommandHandler.java
  crablet-commands/src/main/java/com/crablet/command/ExecutionResult.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/main/java/com/crablet/command/package-info.java
  crablet-commands/src/test/java/com/crablet/command/CommandDecisionTest.java
  crablet-commands/src/test/java/com/crablet/command/CommandExecutorsTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/TestApplication.java
Due: none

Clarify eventstore append APIs
  crablet-eventstore/README.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/AppendCondition.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/AppendConditionBuilder.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/ProjectionResult.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/QueryBuilder.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/package-info.java
Due: EventStore

Document recommended automation pattern
  crablet-automations/README.md
  docs/TUTORIAL.md
  shared-examples-domain/README.md
  shared-examples-domain/src/main/java/com/crablet/examples/notification/commands/SendWelcomeNotificationCommandHandler.java
  wallet-example-app/src/test/java/com/crablet/wallet/e2e/WalletAutomationE2ETest.java
Due: none

Add modularity reviews and refresh Claude guidance
  .gitignore
  CLAUDE.md
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationProcessorConfig.java
  crablet-views/src/main/java/com/crablet/views/internal/ViewProcessorConfig.java
  docs/modularity-review/2026-04-06/modularity-review.html
  docs/modularity-review/2026-04-06/modularity-review.md
  docs/modularity-review/api-quality-review.html
  docs/modularity-review/api-quality-review.md
Due: none

docs(tutorial): add commutative+lifecycle-guard pattern and TalkQueryPatterns
  docs/TUTORIAL.md
Due: none

feat(automations): support relative webhook URLs and optional module beans
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationDispatcher.java
  crablet-automations/src/test/java/com/crablet/automations/internal/AutomationDispatcherTest.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventHandler.java
  crablet-views/src/main/java/com/crablet/views/AbstractTypedViewProjector.java
  crablet-views/src/main/java/com/crablet/views/AbstractViewProjector.java
  crablet-views/src/main/java/com/crablet/views/internal/ViewEventHandler.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/AutomationsManagementController.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/DashboardController.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/OutboxManagementController.java
  wallet-example-app/src/main/java/com/crablet/wallet/config/CrabletConfig.java
  wallet-example-app/src/main/java/com/crablet/wallet/reactions/WalletOpenedReaction.java
  wallet-example-app/src/main/java/com/crablet/wallet/view/projectors/WalletBalanceViewProjector.java
  wallet-example-app/src/main/java/com/crablet/wallet/view/projectors/WalletStatementViewProjector.java
  wallet-example-app/src/main/java/com/crablet/wallet/view/projectors/WalletSummaryViewProjector.java
  wallet-example-app/src/main/java/com/crablet/wallet/view/projectors/WalletTransactionViewProjector.java
  wallet-example-app/src/main/resources/templates/dashboard.html
Due: none

feat(views,automations): per-instance polling config overrides
  crablet-automations/src/main/java/com/crablet/automations/AutomationSubscription.java
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationProcessorConfig.java
  crablet-automations/src/test/java/com/crablet/automations/internal/AutomationProcessorConfigTest.java
  crablet-views/src/main/java/com/crablet/views/ViewSubscription.java
  crablet-views/src/main/java/com/crablet/views/internal/ViewProcessorConfig.java
Due: none

feat(automations): add in-process AutomationHandler interface
  CLAUDE.md
  crablet-automations/pom.xml
  crablet-automations/src/main/java/com/crablet/automations/AutomationHandler.java
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationDispatcher.java
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationEventFetcher.java
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationProcessorConfig.java
  crablet-automations/src/test/java/com/crablet/automations/AutomationHandlerTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationEventFetcherIntegrationTest.java
  crablet-automations/src/test/java/com/crablet/automations/internal/AutomationDispatcherTest.java
  crablet-automations/src/test/java/com/crablet/automations/internal/AutomationProcessorConfigTest.java
  wallet-example-app/src/main/java/com/crablet/wallet/config/CrabletConfig.java
  wallet-example-app/src/main/java/com/crablet/wallet/reactions/WalletOpenedReaction.java
Due: none

feat(automations): introduce AutomationDefinition contract and integration tests
  crablet-automations/README.md
  crablet-automations/src/main/java/com/crablet/automations/AutomationDefinition.java
  crablet-automations/src/main/java/com/crablet/automations/AutomationHandler.java
  crablet-automations/src/main/java/com/crablet/automations/AutomationSubscription.java
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/main/java/com/crablet/automations/internal/AutomationEventFetcher.java
  crablet-automations/src/test/java/com/crablet/automations/config/AutomationsAutoConfigurationTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationDispatcherIntegrationTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationProcessingLoopIntegrationTest.java
  crablet-automations/src/test/java/com/crablet/automations/internal/AutomationDefinitionConsistencyTest.java
  wallet-example-app/README.md
Due: none

Expand tutorial code samples
  docs/tutorials/01-event-store-basics.md
  docs/tutorials/02-commands.md
  docs/tutorials/03-dcb-consistency-boundaries.md
  docs/tutorials/04-views.md
  docs/tutorials/05-automations.md
  docs/tutorials/06-outbox.md
Due: none

Path conditions:
  EventStore: any of: crablet-eventstore/src/main/**
  Command: any of: crablet-command/src/main/**
  Outbox: any of: crablet-outbox/src/main/**
  Metrics: any of: crablet-metrics-micrometer/src/main/**
