Repository rodolfodpk/spring-crablet: changes, and which Codecov flags are due for each by the changed paths.
All: EventStore, Command, Outbox, Metrics

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  # Only report coverage for library code
  ignore: []
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error
    
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "reach,diff,flags,components,tree"
  behavior: default
  require_changes: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
      - type: patch
        target: auto
  
  individual_components:
    - component_id: module_eventstore
      name: EventStore
      paths:
        - "crablet-eventstore/src/main/**"
      statuses:
        - type: project
          target: auto
        - type: patch
          target: auto
    
    - component_id: module_command
      name: Command
      paths:
        - "crablet-command/src/main/**"
      statuses:
        - type: project
          target: auto
        - type: patch
          target: auto
    
    - component_id: module_outbox
      name: Outbox
      paths:
        - "crablet-outbox/src/main/**"
      statuses:
        - type: project
          target: auto
        - type: patch
          target: auto
    
    - component_id: module_metrics
      name: Metrics
      paths:
        - "crablet-metrics-micrometer/src/main/**"
      statuses:
        - type: project
          target: auto
        - type: patch
          target: auto

fix: add JaCoCo merge and report-aggregate goals to parent pom
  pom.xml
Due: none

fix: improve JaCoCo configuration and debug output
  .github/workflows/maven.yml
  pom.xml
Due: none

fix: correct JaCoCo configuration per official documentation
  pom.xml
Due: none

fix: restore working JaCoCo merge pattern and remove includeCurrentProject
  pom.xml
Due: none

fix: explicitly list module exec files in merge config and update README
  README.md
  pom.xml
Due: none

fix: correct JaCoCo merge fileSets directory paths
  README.md
  pom.xml
Due: none

fix: change Maven command to verify phase for JaCoCo merge
  .github/workflows/maven.yml
Due: none

fix: improve Codecov upload configuration for JaCoCo coverage
  .github/workflows/maven.yml
Due: none

Refactor: Make append() package-private, enforce appendIf() as public API
  README.md
  crablet-command/src/test/java/com/crablet/command/handlers/courses/ChangeCourseCapacityCommandHandlerTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/DefineCourseCommandHandlerTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/SubscribeStudentToCourseCommandHandlerTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/DepositCommandHandlerTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/TransferMoneyCommandHandlerTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/WalletCommandsTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/WithdrawCommandHandlerTest.java
  crablet-eventstore/README.md
  crablet-eventstore/SCHEMA.md
  crablet-eventstore/docs/READ_REPLICAS.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStoreImpl.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreErrorHandlingTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreQueryTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/store/EventStoreImplTest.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/integration/EventStoreMetricsIntegrationTest.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/integration/OutboxMetricsIntegrationTest.java
  crablet-outbox/README.md
  crablet-outbox/src/test/java/com/crablet/integration/AbstractOutboxLockAcquisitionTest.java
  crablet-outbox/src/test/java/com/crablet/integration/AbstractOutboxManagementServiceTest.java
  crablet-outbox/src/test/java/com/crablet/integration/AbstractOutboxProcessorTest.java
  crablet-outbox/src/test/java/com/crablet/integration/GlobalStatisticsTest.java
  crablet-outbox/src/test/java/com/crablet/integration/OutboxLeaderFailoverTest.java
Due: EventStore

Add hourly period support to closing the books pattern
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/DepositCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/DepositCommandHandlerTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/OpenWalletCommandHandlerTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/TransferMoneyCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/TransferMoneyCommandHandlerTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/WalletCommandsTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/WalletTestUtils.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/WithdrawCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/WithdrawCommandHandlerTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/integration/CommandExecutorTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/integration/OptimisticLockingTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/integration/WalletDCBComplianceTest.java
  crablet-command/src/test/java/com/crablet/command/integration/TestApplication.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/TestApplication.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/WalletCommand.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/WalletQueryPatterns.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/WalletTags.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/ClosingBooksPatternTest.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/WalletEventTypes.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/WalletQueryPatterns.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/WalletQueryPatternsTest.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/WalletTags.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/event/WalletEvent.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/event/WalletStatementClosed.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/event/WalletStatementOpened.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/period/PeriodConfig.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/period/PeriodConfigurationProvider.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/period/PeriodType.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/period/WalletPeriodHelper.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/period/WalletStatementId.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/period/WalletStatementPeriodResolver.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/domain/projections/WalletBalanceProjector.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/integration/TestApplication.java
Due: none

Clarify implementation requirements for EventStore and Command Framework
  README.md
Due: none

Move PeriodType and PeriodConfig to eventstore module
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/period/PeriodConfig.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/period/PeriodType.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/WalletCommand.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/period/PeriodConfig.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/period/PeriodConfigurationProvider.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/period/WalletPeriodHelper.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/period/WalletStatementId.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/period/WalletStatementPeriodResolver.java
Due: EventStore

Enhance DCB documentation with conceptual foundation and benefits
  crablet-eventstore/docs/DCB_AND_CRABLET.md
Due: none

Streamline root README and make metrics dependencies required
  README.md
  crablet-command/README.md
  crablet-command/src/main/java/com/crablet/command/CommandExecutorImpl.java
  crablet-command/src/test/java/com/crablet/command/CommandExecutorImplTest.java
  crablet-command/src/test/java/com/crablet/command/integration/TestApplication.java
  crablet-eventstore/README.md
  crablet-eventstore/docs/OPTIONAL_DEPENDENCIES.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStoreImpl.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/TestApplication.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/store/EventStoreImplTest.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/integration/TestApplication.java
  crablet-outbox/README.md
  crablet-outbox/src/main/java/com/crablet/outbox/leader/OutboxLeaderElector.java
  crablet-outbox/src/main/java/com/crablet/outbox/processor/OutboxProcessorImpl.java
  crablet-outbox/src/main/java/com/crablet/outbox/publishing/OutboxPublishingServiceImpl.java
  crablet-outbox/src/test/java/com/crablet/TestApplication.java
  crablet-outbox/src/test/java/com/crablet/integration/GlobalStatisticsTest.java
  crablet-outbox/src/test/java/com/crablet/outbox/processor/OutboxProcessorImplCooldownTest.java
Due: EventStore, Command, Outbox

Remove boilerplate and clarify module requirements in README
  README.md
  crablet-eventstore/GETTING_STARTED.md
Due: none

Improve DCB explanations and add proper attribution to Sara Pellegrini
  README.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
Due: none

refactor: appendIf now returns transactionId, remove getCurrentTransactionId
  crablet-command/src/main/java/com/crablet/command/CommandExecutorImpl.java
  crablet-command/src/test/java/com/crablet/command/CommandExecutorImplTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/WalletCommandsTest.java
  crablet-command/src/test/java/com/crablet/command/integration/AbstractCommandTest.java
  crablet-command/src/test/java/com/crablet/command/integration/TestApplication.java
  crablet-command/src/test/java/com/crablet/command/integration/TestCommand.java
  crablet-command/src/test/java/com/crablet/command/integration/TestCommandHandler.java
  crablet-eventstore/README.md
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStoreImpl.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreErrorHandlingTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreTest.java
  crablet-eventstore/src/test/resources/db/migration/V1__eventstore_schema.sql
  crablet-outbox/src/test/resources/db/migration/V1__eventstore_schema.sql
Due: EventStore, Command

docs: simplify documentation - remove library vs framework distinctions
  README.md
  crablet-command/README.md
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/README.md
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/docs/READ_REPLICAS.md
Due: none

docs: add appendIf step to all DCB pattern examples
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/README.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
Due: none

docs: add DataSource configuration and performance benefits to Read Replicas guide
  README.md
  crablet-eventstore/docs/READ_REPLICAS.md
Due: none

docs: improve documentation alignment and completeness
  README.md
  crablet-command/README.md
  crablet-command/src/main/java/com/crablet/command/CommandExecutorImpl.java
  crablet-eventstore/README.md
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  crablet-eventstore/docs/OPTIONAL_DEPENDENCIES.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStoreImpl.java
Due: EventStore, Command

Improve test coverage for validation, error handling, and edge cases
  crablet-command/src/test/java/com/crablet/command/CommandExecutorImplTest.java
  crablet-command/src/test/java/com/crablet/command/integration/CommandExecutorImplConcurrencyTest.java
  crablet-command/src/test/java/com/crablet/command/integration/CommandExecutorImplIdempotentTest.java
  crablet-command/src/test/java/com/crablet/command/integration/CommandExecutorImplValidationTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreErrorHandlingTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/store/EventStoreImplTest.java
Due: none

Add package-info.java documentation to all main packages
  crablet-command/src/main/java/com/crablet/command/metrics/package-info.java
  crablet-command/src/main/java/com/crablet/command/package-info.java
  crablet-command/src/main/java/com/crablet/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/clock/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/config/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/metrics/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/period/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/package-info.java
  crablet-metrics-micrometer/src/main/java/com/crablet/metrics/micrometer/package-info.java
  crablet-metrics-micrometer/src/main/java/com/crablet/metrics/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/leader/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/management/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/metrics/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/processor/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/publishers/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/publishing/package-info.java
Due: EventStore, Command, Outbox, Metrics

Add pure unit testing infrastructure and documentation
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/ChangeCourseCapacityCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/DefineCourseCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/SubscribeStudentToCourseCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/unit/AbstractHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/unit/InMemoryEventStore.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/DepositCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/OpenWalletCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/WalletPeriodHelperTestFactory.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/WithdrawCommandHandlerUnitTest.java
  crablet-eventstore/TESTING.md
Due: none

Add GitHub Actions workflow file to feature branch
  crablet-command/.github/workflows/maven.yml
Due: none

Fix GitHub Actions workflow file location (move to repository root)
  crablet-command/.github/workflows/maven.yml
Due: none

Add test coverage improvements for CommandExecutorImpl and CommandTypeResolver
  TEST_COVERAGE_IMPROVEMENT_PLAN.md
  crablet-command/src/test/java/com/crablet/command/CommandTypeResolverTest.java
  crablet-command/src/test/java/com/crablet/command/integration/CommandExecutorImplConstructorTest.java
  crablet-command/src/test/java/com/crablet/command/integration/CommandExecutorImplErrorHandlingTest.java
  crablet-command/src/test/java/com/crablet/command/integration/CommandExecutorImplPersistenceTest.java
Due: none

Add Testing Guide link to root README and move test coverage plan to .cursor/plans
  README.md
Due: none

Update .gitignore to allow .cursor/plans/ and add test coverage plan
  .gitignore
Due: none

Add test coverage plan to .cursor/plans/ with updated .gitignore
  .cursor/plans/TEST_COVERAGE_IMPROVEMENT_PLAN.md
  .gitignore
Due: none

Add order assertions to test DSL with pattern matching
  TEST_COVERAGE_IMPROVEMENT_PLAN.md
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/ChangeCourseCapacityCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/DefineCourseCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/SubscribeStudentToCourseCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/unit/AbstractHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/DepositCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/OpenWalletCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/WithdrawCommandHandlerUnitTest.java
Due: none

Update TESTING.md with new test DSL API and order assertions
  crablet-eventstore/TESTING.md
Due: none

Add pure unit testing infrastructure and documentation (#14)
  .cursor/plans/TEST_COVERAGE_IMPROVEMENT_PLAN.md
  .gitignore
  README.md
  crablet-command/src/test/java/com/crablet/command/CommandTypeResolverTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/ChangeCourseCapacityCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/DefineCourseCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/SubscribeStudentToCourseCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/unit/AbstractHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/unit/InMemoryEventStore.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/DepositCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/OpenWalletCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/WalletPeriodHelperTestFactory.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/WithdrawCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/integration/CommandExecutorImplConstructorTest.java
  crablet-command/src/test/java/com/crablet/command/integration/CommandExecutorImplErrorHandlingTest.java
  crablet-command/src/test/java/com/crablet/command/integration/CommandExecutorImplPersistenceTest.java
  crablet-eventstore/TESTING.md
Due: none

docs: Explain advisory locks for idempotency checks
  crablet-eventstore/SCHEMA.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
Due: none

refactor: Replace event type constants with EventType.type()
  .cursor/plans/TEST_COVERAGE_IMPROVEMENT_PLAN.md
  .gitignore
  crablet-command/src/test/java/com/crablet/command/handlers/courses/ChangeCourseCapacityCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/DefineCourseCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/SubscribeStudentToCourseCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/ChangeCourseCapacityCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/SubscribeStudentToCourseCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/DepositCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/OpenWalletCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/TransferMoneyCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/WithdrawCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/DepositCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/WalletPeriodHelperTestFactory.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/WithdrawCommandHandlerUnitTest.java
  crablet-eventstore/TESTING.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventType.java
  crablet-eventstore/src/test/java/com/crablet/examples/courses/CourseEventTypes.java
  crablet-eventstore/src/test/java/com/crablet/examples/courses/CourseQueryPatterns.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/WalletEventTypes.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/WalletQueryPatterns.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/period/WalletStatementPeriodResolver.java
Due: EventStore

Add pure unit testing infrastructure and documentation (#15)
  crablet-command/src/test/java/com/crablet/command/handlers/courses/ChangeCourseCapacityCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/DefineCourseCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/SubscribeStudentToCourseCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/ChangeCourseCapacityCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/courses/unit/SubscribeStudentToCourseCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/DepositCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/OpenWalletCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/TransferMoneyCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/WithdrawCommandHandler.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/DepositCommandHandlerUnitTest.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/WalletPeriodHelperTestFactory.java
  crablet-command/src/test/java/com/crablet/command/handlers/wallet/unit/WithdrawCommandHandlerUnitTest.java
  crablet-eventstore/SCHEMA.md
  crablet-eventstore/TESTING.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventType.java
  crablet-eventstore/src/test/java/com/crablet/examples/courses/CourseEventTypes.java
  crablet-eventstore/src/test/java/com/crablet/examples/courses/CourseQueryPatterns.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/WalletEventTypes.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/WalletQueryPatterns.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/period/WalletStatementPeriodResolver.java
Due: EventStore
