Repository rodolfodpk/spring-crablet: changes, and which Codecov flags are due for each by the changed paths.
All: EventStore, Command, Outbox, Metrics

docs: Update all documentation to reflect crablet-test-support module
  BUILD.md
  CLAUDE.md
  README.md
  crablet-command/README.md
  crablet-eventstore/README.md
  crablet-eventstore/TESTING.md
Due: none

feat: Add JSpecify nullability support to crablet-eventstore
  crablet-eventstore/pom.xml
  crablet-eventstore/src/main/java/com/crablet/eventstore/clock/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/config/DataSourceConfig.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/config/DataSourceConfigProperties.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/config/ReadReplicaProperties.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/config/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/AppendCondition.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/AppendConditionBuilder.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/ConcurrencyException.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/DCBViolation.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/metrics/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/period/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/EventRepository.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/EventRepositoryImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/ProjectionResult.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/QueryItem.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/QuerySqlBuilder.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/QuerySqlBuilderImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/package-info.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/AppendEvent.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/Cursor.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStoreConfig.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStoreException.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStoreImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/StoredEvent.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/Tag.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/package-info.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/config/DataSourceConfigTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/dcb/AppendConditionBuilderTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/dcb/ConcurrencyExceptionTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/query/ProjectionResultTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/query/QueryBuilderTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/query/QueryItemTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/store/CursorTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/store/EventStoreConfigTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/store/EventStoreExceptionTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/store/StoredEventTest.java
Due: EventStore

docs: Add tutorial, clean up docs, and remove completed plan files
  CLAUDE.md
  PROJECTION_RENAMING_PLAN.md
  README.md
  VIEW_MANAGEMENT_SERVICE_PLAN.md
  crablet-metrics-micrometer/README.md
  crablet-views/README.md
  docs/TUTORIAL.md
Due: none

Rename crablet-reactions to crablet-automations
  BUILD.md
  Makefile
  README.md
  crablet-automations/README.md
  crablet-automations/pom.xml
  crablet-automations/src/main/java/com/crablet/automations/AutomationHandler.java
  crablet-automations/src/main/java/com/crablet/automations/AutomationSubscription.java
  crablet-automations/src/main/java/com/crablet/automations/adapter/AutomationDispatcher.java
  crablet-automations/src/main/java/com/crablet/automations/adapter/AutomationEventFetcher.java
  crablet-automations/src/main/java/com/crablet/automations/adapter/AutomationProcessorConfig.java
  crablet-automations/src/main/java/com/crablet/automations/adapter/AutomationProgressTracker.java
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsConfig.java
  crablet-automations/src/main/resources/META-INF/spring.factories
  crablet-views/README.md
  docs/TUTORIAL.md
  pom.xml
  wallet-example-app/README.md
  wallet-example-app/pom.xml
  wallet-example-app/src/main/java/com/crablet/wallet/config/CrabletConfig.java
  wallet-example-app/src/main/java/com/crablet/wallet/reactions/WalletOpenedReaction.java
  wallet-example-app/src/main/resources/application.properties
  wallet-example-app/src/main/resources/db/migration/V9__reaction_progress_schema.sql
Due: none

Fix CI: replace crablet-eventstore test-jar with crablet-test-support
  crablet-event-processor/pom.xml
  crablet-metrics-micrometer/pom.xml
  crablet-outbox/pom.xml
  crablet-views/pom.xml
Due: none

Fix outbox test compilation: remove reference to removed eventstore test-jar class
  crablet-outbox/src/test/java/com/crablet/TestApplication.java
Due: none

Fix CI: cache Maven wrapper binary to avoid transient download failures
  .github/workflows/maven.yml
Due: none

feat: API ergonomics improvements, PeriodTags, and full Javadoc coverage
  CLAUDE.md
  crablet-automations/src/main/java/com/crablet/automations/AutomationHandler.java
  crablet-automations/src/main/java/com/crablet/automations/AutomationSubscription.java
  crablet-commands/README.md
  crablet-commands/src/main/java/com/crablet/command/CommandResult.java
  crablet-commands/src/main/java/com/crablet/command/InvalidCommandException.java
  crablet-commands/src/test/java/com/crablet/command/CommandExecutorImplTest.java
  crablet-commands/src/test/java/com/crablet/command/CommandResultTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplConcurrencyTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplIdempotentTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplPersistenceTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplValidationTest.java
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/README.md
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/AppendCondition.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/AppendConditionBuilder.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/ConcurrencyException.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/period/PeriodTags.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/QueryBuilder.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/StateProjector.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/AppendEvent.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/EventStore.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/dcb/AppendConditionTest.java
  crablet-outbox/docs/OUTBOX_PATTERN.md
  crablet-outbox/src/main/java/com/crablet/outbox/OutboxPublisher.java
  crablet-views/README.md
  crablet-views/src/main/java/com/crablet/views/AbstractTypedViewProjector.java
  crablet-views/src/main/java/com/crablet/views/AbstractViewProjector.java
  crablet-views/src/main/java/com/crablet/views/ViewProjector.java
  crablet-views/src/main/java/com/crablet/views/config/ViewSubscriptionConfig.java
  docs/TUTORIAL.md
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/DepositCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/TransferMoneyCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/WithdrawCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/period/WalletStatementId.java
  wallet-example-app/src/main/java/com/crablet/wallet/config/CrabletConfig.java
  wallet-example-app/src/main/java/com/crablet/wallet/view/config/ViewConfiguration.java
Due: EventStore, Outbox

feat: Add AppendCondition.idempotent() factory for entity creation pattern
  CLAUDE.md
  README.md
  crablet-automations/README.md
  crablet-commands/README.md
  crablet-commands/src/test/java/com/crablet/command/handlers/courses/DefineCourseCommandHandler.java
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/README.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/AppendCondition.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/dcb/AppendConditionBuilder.java
  docs/TUTORIAL.md
  shared-examples-domain/src/main/java/com/crablet/examples/notification/commands/SendWelcomeNotificationCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/OpenWalletCommandHandler.java
Due: EventStore

docs: Update CLOSING_BOOKS_PATTERN.md to use AppendCondition.idempotent()
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
Due: none

docs: Use type() helper instead of string literals for event types in doc examples
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
Due: none

refactor: Remove dead bean-name-derivation fallback from ViewEventFetcher
  crablet-views/src/main/java/com/crablet/views/adapter/ViewEventFetcher.java
Due: none

refactor: Extract shared JDBC boilerplate into AbstractJdbcEventFetcher and AbstractSingleKeyProgressTracker
  crablet-automations/src/main/java/com/crablet/automations/adapter/AutomationEventFetcher.java
  crablet-automations/src/main/java/com/crablet/automations/adapter/AutomationProgressTracker.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/AbstractJdbcEventFetcher.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/progress/AbstractSingleKeyProgressTracker.java
  crablet-outbox/src/main/java/com/crablet/outbox/adapter/OutboxEventFetcher.java
  crablet-views/src/main/java/com/crablet/views/adapter/ViewEventFetcher.java
  crablet-views/src/main/java/com/crablet/views/adapter/ViewProgressTracker.java
Due: Outbox

refactor: Replace raw period tag string literals with PeriodTags constants
  crablet-commands/src/test/java/com/crablet/command/handlers/unit/AbstractHandlerUnitTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/unit/DepositCommandHandlerUnitTest.java
  crablet-commands/src/test/java/com/crablet/command/handlers/wallet/unit/WalletPeriodHelperTestFactory.java
  crablet-eventstore/src/test/java/com/crablet/examples/wallet/ClosingBooksPatternTest.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/period/WalletStatementPeriodResolver.java
Due: none

feat: Add StateProjector.exists() factory to eliminate Boolean projector boilerplate
  CLAUDE.md
  crablet-commands/src/test/java/com/crablet/command/handlers/courses/ChangeCourseCapacityCommandHandler.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/StateProjector.java
  docs/TUTORIAL.md
  shared-examples-domain/src/main/java/com/crablet/examples/course/projections/CourseExistsProjection.java
Due: EventStore

test: Add E2E and unit test coverage for automations, error handling, StateProjector, and PeriodTags
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/dcb/AppendConditionTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/period/PeriodTagsTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/query/StateProjectorTest.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/service/ViewManagementService.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/WalletQueryController.java
  wallet-example-app/src/main/resources/db/migration/V10__seed_view_progress.sql
  wallet-example-app/src/test/java/com/crablet/wallet/AbstractWalletTest.java
  wallet-example-app/src/test/java/com/crablet/wallet/e2e/WalletAutomationE2ETest.java
  wallet-example-app/src/test/java/com/crablet/wallet/e2e/WalletCommandErrorE2ETest.java
Due: none

test: Add test coverage for crablet-automations module
  codecov.yml
  crablet-automations/src/test/java/com/crablet/automations/AutomationSubscriptionTest.java
  crablet-automations/src/test/java/com/crablet/automations/adapter/AutomationDispatcherTest.java
  crablet-automations/src/test/java/com/crablet/automations/adapter/AutomationProcessorConfigTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AbstractAutomationsTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationEventFetcherIntegrationTest.java
  crablet-automations/src/test/java/com/crablet/automations/integration/AutomationProgressTrackerIntegrationTest.java
Due: none

feat: Normalize tag keys to lowercase at construction time
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/Tag.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/store/TagTest.java
Due: EventStore

ci: Auto-export draw.io diagrams to PNG on push to main
  .github/workflows/drawio-export.yml
  shared-examples-domain/README.md
Due: none

docs: Add initial draw.io PNG exports for GitHub rendering
  shared-examples-domain/docs/course-event-model.drawio.png
  shared-examples-domain/docs/wallet-event-model.drawio.png
Due: none

docs: Document tag key normalization in CLAUDE.md and eventstore README
  CLAUDE.md
  crablet-eventstore/README.md
Due: none

feat: Migrate error responses to RFC 7807 ProblemDetail
  wallet-example-app/src/main/java/com/crablet/wallet/api/GlobalExceptionHandler.java
  wallet-example-app/src/main/resources/application.properties
  wallet-example-app/src/test/java/com/crablet/wallet/e2e/WalletCommandErrorE2ETest.java
Due: none

refactor: Narrow exception handling in period resolver and view projector
  crablet-eventstore/docs/CLOSING_BOOKS_PATTERN.md
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/period/WalletStatementPeriodResolver.java
  wallet-example-app/src/main/java/com/crablet/wallet/view/projectors/WalletStatementViewProjector.java
Due: none

feat: Add management APIs, dashboard, commutative handlers, and domain diagrams
  crablet-automations/src/main/java/com/crablet/automations/management/AutomationManagementService.java
  crablet-automations/src/main/java/com/crablet/automations/management/AutomationProgressDetails.java
  crablet-commands/src/main/java/com/crablet/command/CommutativeCommandHandler.java
  crablet-commands/src/main/java/com/crablet/command/NonCommutativeCommandHandler.java
  shared-examples-domain/docs/course-event-model.drawio
  shared-examples-domain/docs/wallet-event-model.drawio
  wallet-example-app/src/main/java/com/crablet/wallet/api/AutomationsManagementController.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/DashboardController.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/OutboxManagementController.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/dto/AutomationOperationResponse.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/dto/AutomationProgressDetailsResponse.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/dto/AutomationStatusResponse.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/dto/OutboxOperationResponse.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/dto/OutboxProgressDetailsResponse.java
  wallet-example-app/src/main/java/com/crablet/wallet/api/dto/OutboxStatusResponse.java
  wallet-example-app/src/main/resources/templates/dashboard.html
Due: none

docs: Update all docs to reflect StreamPosition/AppendCondition API changes
  CLAUDE.md
  README.md
  crablet-commands/README.md
  crablet-event-poller/README.md
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/README.md
  crablet-eventstore/SCHEMA.md
  crablet-eventstore/TESTING.md
  crablet-eventstore/docs/COMMAND_PATTERNS.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-outbox/docs/OUTBOX_PATTERN.md
  docs/TUTORIAL.md
  shared-examples-domain/README.md
Due: none

docs: Add Automations to README Overview section; replace 'cursors' with 'stream positions'
  README.md
Due: none

docs: improve README accessibility, consolidate docs into /docs, remove unused tools/ stub
  CLAUDE.md
  README.md
  crablet-event-poller/README.md
  crablet-outbox/README.md
  crablet-outbox/docs/OUTBOX_PATTERN.md
  crablet-test-support/README.md
  crablet-views/README.md
  docs/BUILD.md
  docs/LEADER_ELECTION.md
  shared-examples-domain/README.md
  tools/jackson/databind/SerializationFeature.class
  wallet-example-app/README.md
Due: none

feat: extend metrics to views, automations, and event-poller modules
  crablet-automations/src/main/java/com/crablet/automations/adapter/AutomationDispatcher.java
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/main/java/com/crablet/automations/metrics/AutomationExecutionErrorMetric.java
  crablet-automations/src/main/java/com/crablet/automations/metrics/AutomationExecutionMetric.java
  crablet-automations/src/main/java/com/crablet/automations/metrics/package-info.java
  crablet-automations/src/test/java/com/crablet/automations/adapter/AutomationDispatcherTest.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/leader/LeaderElectorImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/metrics/BackoffStateMetric.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/metrics/LeadershipMetric.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/metrics/ProcessingCycleMetric.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/processor/EventProcessorImpl.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/leader/LeaderElectorImplIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/leader/PersistentConnectionLeaderElectorTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/management/ProcessorManagementControllerE2ETest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/management/ProcessorManagementServiceImplIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/processor/EventProcessorImplIntegrationTest.java
  crablet-metrics-micrometer/pom.xml
  crablet-metrics-micrometer/src/main/java/com/crablet/metrics/micrometer/MicrometerMetricsCollector.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/MicrometerMetricsCollectorTest.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-outbox/src/main/java/com/crablet/outbox/metrics/LeadershipMetric.java
  crablet-outbox/src/main/java/com/crablet/outbox/metrics/package-info.java
  crablet-outbox/src/test/java/com/crablet/outbox/metrics/LeadershipMetricTest.java
  crablet-views/src/main/java/com/crablet/views/adapter/ViewEventHandler.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/metrics/ViewProjectionErrorMetric.java
  crablet-views/src/main/java/com/crablet/views/metrics/ViewProjectionMetric.java
  crablet-views/src/main/java/com/crablet/views/metrics/package-info.java
  crablet-views/src/test/java/com/crablet/views/adapter/ViewEventHandlerTest.java
Due: Outbox, Metrics

refactor: API cleanup — QueryBuilder.builder(), Decision record, ViewSubscription hierarchy
  CLAUDE.md
  crablet-commands/src/main/java/com/crablet/command/CommandDecision.java
  crablet-commands/src/main/java/com/crablet/command/CommutativeCommandHandler.java
  crablet-event-poller/README.md
  crablet-eventstore/GETTING_STARTED.md
  crablet-eventstore/README.md
  crablet-eventstore/TESTING.md
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/ProjectionResult.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/query/QueryBuilder.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/store/Tag.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/query/ProjectionResultTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/store/TagTest.java
  crablet-views/README.md
  crablet-views/src/main/java/com/crablet/views/ViewProjector.java
  crablet-views/src/main/java/com/crablet/views/ViewSubscription.java
  crablet-views/src/main/java/com/crablet/views/adapter/ViewEventFetcher.java
  crablet-views/src/main/java/com/crablet/views/adapter/ViewProcessorConfig.java
  crablet-views/src/main/java/com/crablet/views/config/ViewSubscriptionConfig.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsConfig.java
  crablet-views/src/main/java/com/crablet/views/package-info.java
  crablet-views/src/test/java/com/crablet/views/adapter/ViewProcessorConfigTest.java
  crablet-views/src/test/java/com/crablet/views/integration/course/ViewEventFetcherCourseIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/wallet/ViewEventFetcherWalletIntegrationTest.java
  docs/TUTORIAL.md
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/DepositCommandHandler.java
  wallet-example-app/src/main/java/com/crablet/wallet/view/config/ViewConfiguration.java
Due: EventStore

refactor: migrate remaining callers off deprecated APIs and add Decision.of() factories
  CLAUDE.md
  crablet-commands/src/main/java/com/crablet/command/CommutativeCommandHandler.java
  crablet-commands/src/main/java/com/crablet/command/IdempotentCommandHandler.java
  crablet-commands/src/main/java/com/crablet/command/NonCommutativeCommandHandler.java
  crablet-commands/src/test/java/com/crablet/command/CommandDecisionTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplErrorHandlingTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplIdempotentTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/query/QueryBuilderTest.java
  crablet-views/src/test/java/com/crablet/views/adapter/ViewProcessorConfigTest.java
  crablet-views/src/test/java/com/crablet/views/config/ViewSubscriptionTest.java
  crablet-views/src/test/java/com/crablet/views/controller/ViewControllerE2ETest.java
  crablet-views/src/test/java/com/crablet/views/integration/course/ViewEventFetcherCourseIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/course/ViewManagementServiceCourseIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/wallet/ViewEventFetcherWalletIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/wallet/ViewManagementServiceWalletIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/service/ViewManagementServiceTest.java
  shared-examples-domain/src/main/java/com/crablet/examples/course/CourseQueryPatterns.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/WalletQueryPatterns.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/commands/DepositCommandHandler.java
  shared-examples-domain/src/main/java/com/crablet/examples/wallet/period/WalletStatementPeriodResolver.java
Due: none

refactor: make QuerySqlBuilder and QuerySqlBuilderImpl package-private
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/QuerySqlBuilder.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/QuerySqlBuilderImpl.java
Due: EventStore

refactor(commands,event-poller): move impl classes to internal
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandTypeResolver.java
  crablet-commands/src/main/java/com/crablet/command/internal/package-info.java
  crablet-commands/src/test/java/com/crablet/command/CommandTypeResolverTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplConstructorTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplErrorHandlingTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplPersistenceTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/TestApplication.java
  crablet-commands/src/test/java/com/crablet/command/internal/CommandExecutorImplTest.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/backoff/package-info.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/BackoffState.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/EventProcessorImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/InstanceIdProvider.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/LeaderElectorImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/ProcessorManagementController.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/ProcessorManagementServiceImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/package-info.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/BackoffStateTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/EventProcessorImplIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/LeaderElectorImplIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/ProcessorManagementControllerE2ETest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/ProcessorManagementServiceImplIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/leader/PersistentConnectionLeaderElectorTest.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/integration/TestApplication.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-outbox/src/main/java/com/crablet/outbox/leader/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/management/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/processor/package-info.java
  crablet-outbox/src/main/java/com/crablet/outbox/publishing/OutboxPublishingServiceImpl.java
  crablet-outbox/src/test/java/com/crablet/TestApplication.java
  crablet-outbox/src/test/java/com/crablet/outbox/processor/BackoffStateTest.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  crablet-views/src/test/java/com/crablet/views/controller/ViewControllerE2ETest.java
  crablet-views/src/test/java/com/crablet/views/integration/course/ViewManagementServiceCourseIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/integration/wallet/ViewManagementServiceWalletIntegrationTest.java
  crablet-views/src/test/java/com/crablet/views/service/ViewManagementServiceTest.java
  wallet-example-app/src/main/java/com/crablet/wallet/config/CrabletConfig.java
Due: Outbox

docs: update import paths after package restructuring
  crablet-event-poller/README.md
  crablet-eventstore/GETTING_STARTED.md
  docs/TUTORIAL.md
Due: none

Path conditions:
  EventStore: any of: crablet-eventstore/src/main/**
  Command: any of: crablet-command/src/main/**
  Outbox: any of: crablet-outbox/src/main/**
  Metrics: any of: crablet-metrics-micrometer/src/main/**
