Repository rodolfodpk/spring-crablet: changes, and which Codecov flags are due for each by the changed paths.
All: EventStore, Command, Outbox, Metrics

test(commands): cover persist-commands=false + idempotency key guard
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplPersistenceTest.java
Due: none

refactor(commands): replace String idempotency key with UUID commandId + CommandExecutionOptions
  CLAUDE.md
  crablet-automations/src/test/java/com/crablet/automations/internal/AutomationDefinitionConsistencyTest.java
  crablet-commands/README.md
  crablet-commands/src/main/java/com/crablet/command/CommandExecutionOptions.java
  crablet-commands/src/main/java/com/crablet/command/CommandExecutor.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/test/java/com/crablet/command/handlers/unit/InMemoryEventStore.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplCommandIdempotencyTest.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplPersistenceTest.java
  crablet-db-migrations/src/main/resources/db/migration/V10__commands_command_id.sql
  crablet-db-migrations/src/main/resources/db/migration/V10__commands_idempotency_key.sql
  crablet-eventstore/src/main/java/com/crablet/eventstore/CommandAuditStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/CommandAuditStoreTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/internal/EventStoreImplTest.java
  crablet-test-support/src/main/java/com/crablet/test/InMemoryEventStore.java
  crablet-test-support/src/main/resources/db/migration/V10__commands_command_id.sql
  crablet-test-support/src/main/resources/db/migration/V10__commands_idempotency_key.sql
  docs/user/UPGRADE.md
Due: EventStore

chore: stage remaining branch changes (event_tags tests, docs, example migrations)
  crablet-event-poller/src/test/java/com/crablet/eventpoller/AbstractJdbcEventFetcherTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/EventTagsPollerFetchBenchmarkTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/progress/AbstractSingleKeyProgressTrackerTest.java
  crablet-event-poller/src/test/resources/db/test/test_single_key_progress.sql
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-test-support/README.md
  docs/dev/plans/command-level-idempotency-plan.md
  docs/user/BUILD.md
  docs/user/CONFIGURATION.md
  docs/user/ai-tooling/COURSE_CORE_WORKFLOW.md
  docs/user/tutorials/05-automations.md
  docs/user/tutorials/06-outbox.md
  examples/course-example-app/src/main/resources/db/migration/app/V100__course_views.sql
  examples/wallet-example-app/README.md
  examples/wallet-example-app/src/main/resources/application.properties
  examples/wallet-example-app/src/main/resources/db/migration/app/V100__create_wallet_balance_view.sql
  examples/wallet-example-app/src/main/resources/db/migration/app/V101__create_wallet_transaction_view.sql
  examples/wallet-example-app/src/main/resources/db/migration/app/V102__create_wallet_summary_view.sql
  examples/wallet-example-app/src/main/resources/db/migration/app/V103__remove_wallet_summary_foreign_key.sql
  examples/wallet-example-app/src/main/resources/db/migration/app/V104__create_wallet_statement_view.sql
  examples/wallet-example-app/src/main/resources/db/migration/app/V105__seed_view_progress.sql
  examples/wallet-example-app/src/test/java/com/crablet/wallet/cleanup/WalletIntegrationTestDbCleanup.java
Due: none

test: cover command idempotency patch paths
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/test/java/com/crablet/command/CommandExecutionOptionsTest.java
  crablet-commands/src/test/java/com/crablet/command/internal/CommandExecutorImplTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/internal/EventStoreImplTest.java
Due: none

refactor: clarify command audit API
  crablet-commands/src/main/java/com/crablet/command/CommandExecutor.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/test/java/com/crablet/command/handlers/unit/InMemoryEventStore.java
  crablet-commands/src/test/java/com/crablet/command/internal/CommandExecutorImplTest.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/CommandAuditStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventStoreTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/internal/EventStoreImplTest.java
Due: EventStore

fix: update test-support command audit store
  crablet-test-support/src/main/java/com/crablet/test/InMemoryEventStore.java
Due: none

test: cover command audit patch branches
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/test/java/com/crablet/command/integration/CommandExecutorImplPersistenceTest.java
  crablet-commands/src/test/java/com/crablet/command/internal/CommandExecutorImplTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/internal/EventStoreImplTest.java
Due: none

Simplify event tags indexing
  crablet-automations/src/test/java/com/crablet/automations/internal/AutomationDefinitionConsistencyTest.java
  crablet-commands-web/src/main/java/com/crablet/command/web/internal/CommandApiRestController.java
  crablet-commands/src/main/java/com/crablet/command/CommandExecutor.java
  crablet-commands/src/main/java/com/crablet/command/internal/CommandExecutorImpl.java
  crablet-commands/src/test/java/com/crablet/command/PublicApiContractTest.java
  crablet-db-migrations/src/main/resources/db/migration/V7__event_tags_schema.sql
  crablet-db-migrations/src/main/resources/db/migration/V8__event_tags_append_maintenance.sql
  crablet-db-migrations/src/main/resources/db/migration/V9__event_tags_query_switch.sql
  crablet-event-poller/README.md
  crablet-event-poller/src/main/java/com/crablet/eventpoller/AbstractJdbcEventFetcher.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/sharedfetch/SharedFetchModuleProcessor.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/AbstractJdbcEventFetcherTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/EventTagsPollerFetchBenchmarkTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/sharedfetch/SharedFetchModuleProcessorIntegrationTest.java
  crablet-eventstore/docs/DCB_AND_CRABLET.md
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventTagsAppendBenchmarkTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventTagsIdempotencyBenchmarkTest.java
  crablet-outbox/README.md
  crablet-outbox/docs/OUTBOX_PATTERN.md
  crablet-outbox/docs/OUTBOX_RATIONALE.md
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-test-support/README.md
  crablet-test-support/src/main/resources/db/migration/V7__event_tags_schema.sql
  crablet-test-support/src/main/resources/db/migration/V8__event_tags_append_maintenance.sql
  crablet-test-support/src/main/resources/db/migration/V9__event_tags_query_switch.sql
  docs/dev/plans/eventstore-schema-performance-plan.md
  docs/dev/plans/shared-poller-fan-out.md
  docs/examples/concepts.md
  docs/user/BUILD.md
  docs/user/CONFIGURATION.md
  docs/user/FAULT_RECOVERY.md
  docs/user/PERFORMANCE.md
  docs/user/UPGRADE.md
  docs/user/tutorials/04-views.md
  docs/user/tutorials/05-automations.md
  docs/user/tutorials/06-outbox.md
Due: Outbox

Clarify event tags poller scope
  crablet-eventstore/src/test/java/com/crablet/eventstore/integration/EventsTagsIdempotencyBenchmarkTest.java
  docs/dev/plans/eventstore-schema-performance-plan.md
Due: none

Stabilize virtual scheduler test
  crablet-event-poller/src/test/java/com/crablet/eventpoller/config/EventPollerAutoConfigurationTest.java
Due: none

test: cover observation listeners and auto-configurations
  crablet-automations/src/test/java/com/crablet/automations/config/AutomationsObservationAutoConfigurationTest.java
  crablet-automations/src/test/java/com/crablet/automations/observability/AutomationObservationListenerTest.java
  crablet-commands/src/test/java/com/crablet/command/config/CommandObservationAutoConfigurationTest.java
  crablet-commands/src/test/java/com/crablet/command/observability/CommandObservationListenerTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/config/EventPollerObservationAutoConfigurationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/observability/EventPollerObservationListenerTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/config/EventStoreObservationAutoConfigurationTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/observability/EventStoreObservationListenerTest.java
  crablet-outbox/src/test/java/com/crablet/outbox/config/OutboxObservationAutoConfigurationTest.java
  crablet-outbox/src/test/java/com/crablet/outbox/observability/OutboxObservationListenerTest.java
  crablet-views/src/test/java/com/crablet/views/config/ViewsObservationAutoConfigurationTest.java
  crablet-views/src/test/java/com/crablet/views/observability/ViewObservationListenerTest.java
Due: none

feat(poller): improve LISTEN/NOTIFY for monolith and distributed deployments
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-automations/src/test/java/com/crablet/automations/config/AutomationsAutoConfigurationTest.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventProcessorFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/EventProcessorImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/sharedfetch/SharedFetchModuleProcessor.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/NoopProcessorWakeupSource.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSource.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSourceFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/ProcessorWakeupSource.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/EventProcessorFactoryTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/internal/EventProcessorImplWakeupTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/sharedfetch/SharedFetchModuleProcessorIntegrationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSourceTest.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/notify/EventAppendNotifier.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/notify/PostgresNotifyEventAppendNotifier.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
  docs/dev/plans/listen-notify-improvements.md
Due: EventStore, Outbox

feat(poller): Phase B — cross-read debounce for NOTIFY burst coalescing
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerAutoConfiguration.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/config/EventPollerNotificationProperties.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSource.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSourceFactory.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSourceTest.java
Due: none

feat(poller): Phase E — failure hygiene for LISTEN reconnect and NOTIFY publish
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSource.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSourceTest.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/notify/PostgresNotifyEventAppendNotifier.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/notify/PostgresNotifyEventAppendNotifierTest.java
Due: EventStore

feat(eventstore): C1 — typed pg_notify for executeInTransaction (command path)
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
Due: EventStore

feat(poller): full EventSelection tag filtering in NOTIFY/LISTEN wakeup
  crablet-automations/src/main/java/com/crablet/automations/config/AutomationsAutoConfiguration.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/EventProcessorFactory.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/internal/EventProcessorImpl.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSource.java
  crablet-event-poller/src/main/java/com/crablet/eventpoller/wakeup/ProcessorWakeupSource.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSourceTest.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/notify/EventAppendNotifier.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/notify/PostgresNotifyEventAppendNotifier.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/notify/PostgresNotifyEventAppendNotifierTest.java
  crablet-outbox/src/main/java/com/crablet/outbox/config/OutboxAutoConfiguration.java
  crablet-views/src/main/java/com/crablet/views/config/ViewsAutoConfiguration.java
Due: EventStore, Outbox

fix(eventstore): tolerate null AppendEvent tags; add make test-pl
  CLAUDE.md
  Makefile
  crablet-eventstore/src/main/java/com/crablet/eventstore/internal/EventStoreImpl.java
  docs/user/BUILD.md
Due: EventStore

test: widen coverage for NOTIFY wakeup and related auto-config
  crablet-automations/src/test/java/com/crablet/automations/config/AutomationsAutoConfigurationTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/config/EventPollerNotificationPropertiesTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSourceFactoryTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupSourceTest.java
  crablet-event-poller/src/test/java/com/crablet/eventpoller/wakeup/PostgresNotifyWakeupTestProperties.java
  crablet-event-poller/src/test/resources/poller-notify-wakeup-test.properties
  crablet-eventstore/src/test/java/com/crablet/eventstore/internal/EventStoreImplTest.java
  crablet-eventstore/src/test/java/com/crablet/eventstore/notify/PostgresNotifyEventAppendNotifierTest.java
  crablet-metrics-micrometer/src/test/java/com/crablet/metrics/micrometer/MicrometerMetricsCollectorTest.java
  crablet-outbox/src/test/java/com/crablet/outbox/config/OutboxAutoConfigurationTest.java
  crablet-views/src/test/java/com/crablet/views/config/ViewsAutoConfigurationTest.java
Due: none

Stabilize outbox integration tests
  crablet-outbox/src/test/resources/application-test-with-outbox-global.properties
Due: none

Enforce unique command transaction audit key
  crablet-commands/README.md
  crablet-db-migrations/src/main/resources/db/migration/V3__unique_command_transaction_id.sql
  crablet-eventstore/SCHEMA.md
  crablet-test-support/src/main/resources/db/migration/V3__unique_command_transaction_id.sql
Due: none

docs: regenerate concepts mind map PNG [skip ci]
  docs/user/assets/concepts-mindmap.png
Due: none

refactor(db): tighten crablet migration schema
  crablet-automations/README.md
  crablet-commands/README.md
  crablet-db-migrations/src/main/resources/db/migration/V1__crablet_eventstore_schema.sql
  crablet-db-migrations/src/main/resources/db/migration/V2__crablet_poller_progress_schema.sql
  crablet-eventstore/SCHEMA.md
  crablet-eventstore/src/main/java/com/crablet/eventstore/CommandAuditStore.java
  crablet-eventstore/src/main/java/com/crablet/eventstore/EventStore.java
  crablet-test-support/src/main/resources/db/migration/V1__crablet_eventstore_schema.sql
  crablet-test-support/src/main/resources/db/migration/V2__crablet_poller_progress_schema.sql
  docs/user/tutorials/04-views.md
Due: EventStore

docs: document LISTEN/NOTIFY thread isolation and shared-fetch motivation
  crablet-event-poller/README.md
  docs/user/CONFIGURATION.md
Due: none

refactor(db): split V1 migration by module — eventstore, commands, poller
  crablet-db-migrations/src/main/resources/db/migration/V1__crablet_eventstore_schema.sql
  crablet-db-migrations/src/main/resources/db/migration/V2__crablet_commands_schema.sql
  crablet-db-migrations/src/main/resources/db/migration/V3__crablet_poller_progress_schema.sql
  crablet-db-migrations/src/main/resources/db/migration/V3__unique_command_transaction_id.sql
  crablet-eventstore/SCHEMA.md
  crablet-test-support/README.md
  crablet-test-support/src/main/resources/db/migration/V1__crablet_eventstore_schema.sql
  crablet-test-support/src/main/resources/db/migration/V2__crablet_commands_schema.sql
  crablet-test-support/src/main/resources/db/migration/V3__crablet_poller_progress_schema.sql
  crablet-test-support/src/main/resources/db/migration/V3__unique_command_transaction_id.sql
Due: none

docs(schema): rewrite SCHEMA.md as a migration-structured data model intro
  crablet-eventstore/SCHEMA.md
  docs/user/README.md
Due: none

Document Crablet tracks and maturity status
  README.md
  docs/user/README.md
Due: none

refactor(skills): rename event-modeling to crablet-event-modeling; update DCB and maintainer skills
  .claude/skills/crablet-app-dev/SKILL.md
  .claude/skills/crablet-dcb/SKILL.md
  .claude/skills/crablet-diagram-advisor/SKILL.md
  .claude/skills/crablet-event-modeling/SKILL.md
  .claude/skills/crablet-greenfield/SKILL.md
  .claude/skills/crablet-maintainer/SKILL.md
  CLAUDE.md
  docs/user/ai-tooling/AI_FIRST_WORKFLOW.md
  docs/user/ai-tooling/AI_SKILLS.md
  docs/user/ai-tooling/COURSE_CORE_WORKFLOW.md
  scripts/check-template-skills.sh
  templates/README.md
  templates/crablet-app/.claude/skills/crablet-dcb/SKILL.md
  templates/crablet-app/.claude/skills/crablet-event-modeling/SKILL.md
  templates/crablet-app/.claude/skills/crablet-greenfield/SKILL.md
  templates/crablet-app/CLAUDE.md
  templates/crablet-app/README.md
Due: none

build: add check-db-migrations-artifact to guard against stale SNAPSHOT jar
  Makefile
  scripts/check-db-migrations-artifact.sh
Due: none

fix(schema): tighten type CHECK constraints and document advisory lock design
  crablet-db-migrations/src/main/resources/db/migration/V1__crablet_eventstore_schema.sql
  crablet-db-migrations/src/main/resources/db/migration/V2__crablet_commands_schema.sql
  crablet-eventstore/SCHEMA.md
  crablet-test-support/src/main/resources/db/migration/V1__crablet_eventstore_schema.sql
  crablet-test-support/src/main/resources/db/migration/V2__crablet_commands_schema.sql
Due: none

docs(commands): clarify type column constraint as non-empty, max 64 characters
  crablet-commands/README.md
Due: none

docs: refresh skills, CLAUDE.md module map, CI workflow, and template app
  .claude/skills/crablet-app-dev/SKILL.md
  .claude/skills/crablet-codegen/SKILL.md
  .claude/skills/crablet-event-modeling/SKILL.md
  .claude/skills/crablet-greenfield/SKILL.md
  .claude/skills/crablet-local-dev/SKILL.md
  .claude/skills/crablet-maintainer/SKILL.md
  .github/workflows/maven.yml
  CLAUDE.md
  Makefile
  README.md
  templates/README.md
  templates/crablet-app/.claude/skills/crablet-app-dev/SKILL.md
  templates/crablet-app/.claude/skills/crablet-event-modeling/SKILL.md
  templates/crablet-app/.claude/skills/crablet-greenfield/SKILL.md
  templates/crablet-app/.claude/skills/crablet-local-dev/SKILL.md
  templates/crablet-app/CLAUDE.md
  templates/crablet-app/Makefile
  templates/crablet-app/README.md
  templates/crablet-app/tools/README.md
Due: none

docs: update dev plans, user docs, and diagram examples
  docs/dev/DOCS_VERIFICATION.md
  docs/dev/PRODUCT_ROADMAP.md
  docs/dev/modularity-review/2026-05-16/modularity-review.md
  docs/dev/notes-future.md
  docs/dev/plans/ai-first-docs-positioning.md
  docs/dev/plans/ai-workflow-mcp-output-default-and-scenario-sync.md
  docs/dev/plans/automation-todo-read-model.md
  docs/dev/plans/bdd-scenario-scaffolding-plan.md
  docs/dev/plans/canonical-event-modeling-board-layout.md
  docs/dev/plans/codegen-command-handler-interfaces.md
  docs/dev/plans/crablet-greenfield-skill-plan.md
  docs/dev/plans/crablet-template-repo-onboarding.md
  docs/dev/plans/deterministic-codegen-assessment.md
  docs/dev/plans/deterministic-codegen-from-event-model.md
  docs/dev/plans/docs-framework-vs-ai-tooling-split.md
  docs/dev/plans/embabel-codegen-from-event-model.md
  docs/dev/plans/embabel-codegen-provider-abstraction.md
  docs/dev/plans/event-model-diagram-renderer-refined-spec.md
  docs/dev/plans/event-modeling-lanes-and-rows.md
  docs/dev/plans/java-first-programming-model-and-deployment-roles.md
  docs/dev/plans/k8s-generation-from-event-model.md
  docs/dev/plans/optional-event-model-diagram.md
  docs/dev/plans/roadmap-to-1.0.md
  docs/dev/plans/test-coverage-roi-plan.md
  docs/examples/concepts.md
  docs/examples/course-diagram.yaml
  docs/examples/loan-submit-diagram.yaml
  docs/examples/wallet-diagram.yaml
  docs/examples/wallet-opened-diagram.yaml
  docs/user/DEPLOYMENT_TOPOLOGY.md
  docs/user/QUICKSTART.md
  docs/user/ai-tooling/AI_FIRST_WORKFLOW.md
  docs/user/ai-tooling/AI_WORKFLOW_FEASIBILITY.md
  docs/user/ai-tooling/COURSE_CORE_WORKFLOW.md
  docs/user/ai-tooling/FEATURE_SLICE_WORKFLOW.md
  docs/user/examples/submit-loan-application-claude-dialogue.md
Due: none

feat(codegen): replace per-artifact agents with unified generator pipeline
  crablet-codegen/CLAUDE.md
  crablet-codegen/README.md
  crablet-codegen/pom.xml
  crablet-codegen/src/main/java/com/crablet/codegen/CodegenApp.java
  crablet-codegen/src/main/java/com/crablet/codegen/agents/AutomationsAgent.java
  crablet-codegen/src/main/java/com/crablet/codegen/agents/CommandsAgent.java
  crablet-codegen/src/main/java/com/crablet/codegen/agents/EventsAgent.java
  crablet-codegen/src/main/java/com/crablet/codegen/agents/OutboxAgent.java
  crablet-codegen/src/main/java/com/crablet/codegen/agents/ViewsAgent.java
  crablet-codegen/src/main/java/com/crablet/codegen/cli/CodegenCommand.java
  crablet-codegen/src/main/java/com/crablet/codegen/cli/McpServer.java
  crablet-codegen/src/main/java/com/crablet/codegen/pipeline/CodegenPipeline.java
  crablet-codegen/src/main/java/com/crablet/codegen/tools/FileWriterTool.java
  crablet-codegen/src/main/resources/application.yml
  crablet-codegen/src/test/java/com/crablet/codegen/agents/CommandsAgentTest.java
  crablet-codegen/src/test/java/com/crablet/codegen/architecture/CodegenArchitectureTest.java
  crablet-codegen/src/test/java/com/crablet/codegen/cli/McpServerTest.java
  crablet-codegen/src/test/java/com/crablet/codegen/tools/FileWriterToolTest.java
Due: none

feat(codegen): add generator package, tests, and loan snapshot example
  crablet-codegen/src/main/java/com/crablet/codegen/generator/AutomationsGenerator.java
  crablet-codegen/src/main/java/com/crablet/codegen/generator/CommandsGenerator.java
  crablet-codegen/src/main/java/com/crablet/codegen/generator/EventsGenerator.java
  crablet-codegen/src/main/java/com/crablet/codegen/generator/JavaRenderSupport.java
  crablet-codegen/src/main/java/com/crablet/codegen/generator/OutboxGenerator.java
  crablet-codegen/src/main/java/com/crablet/codegen/generator/ViewsGenerator.java
  crablet-codegen/src/test/java/com/crablet/codegen/generator/CommandsGeneratorTest.java
  examples/loan-generated-snapshot/event-model.yaml
  examples/loan-generated-snapshot/pom.xml
  examples/loan-generated-snapshot/src/main/java/com/example/loan/LoanApplication.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/command/LoanApplicationQueryPatterns.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/command/LoanApplicationState.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/command/LoanApplicationStateProjector.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/command/LoanApplicationTags.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/command/SubmitLoanApplication.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/command/SubmitLoanApplicationCommandHandler.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/command/SubmitLoanApplicationHandler.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/domain/LoanApplicationEvent.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/domain/LoanApplicationSubmitted.java
  examples/loan-generated-snapshot/src/main/java/com/example/loan/view/PendingLoanApplicationsViewProjector.java
  examples/loan-generated-snapshot/src/main/resources/application.yml
  examples/loan-generated-snapshot/src/main/resources/db/migration/V100__create_pending_loan_applications.sql
  examples/loan-generated-snapshot/src/test/java/com/example/loan/test/DuplicateSubmissionIsIgnoredScenarioTest.java
  examples/loan-generated-snapshot/src/test/java/com/example/loan/test/SubmitLoanApplicationScenarioTest.java
Due: none

fix(mcp): point codegen MCP server at renamed crablet-codegen jar
  .claude/settings.json
  templates/crablet-app/.claude/settings.json
  templates/crablet-app/.cursor/mcp.json
Due: none

Path conditions:
  EventStore: any of: crablet-eventstore/src/main/**
  Command: any of: crablet-command/src/main/**
  Outbox: any of: crablet-outbox/src/main/**
  Metrics: any of: crablet-metrics-micrometer/src/main/**
